{% assign settings = site.data.settings %}

<!-- FOOTER BODY -->
<section class="global-footer-body">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-4 col-xl-3">
				<h3 class="p-b-1">{{ settings.company }}</h3>
				<h4>{{ settings.offices[0].title }}</h4>
				<p>
					{{ settings.offices[0].address }}<br>
					<a href="{{ settings.google_map }}">View map <i class="fa fa-angle-right"></i></a>
				</p>
				<p>Ph. {{ settings.offices[0].phone }}</p>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<ul class="list-inline social-media">
					<li class="list-inline-item"><a href="{{ settings.linked_in }}"><i class="fa fa-linkedin"></i></a></li>
					<li class="list-inline-item"><a href="{{ settings.facebook }}"><i class="fa fa-facebook"></i></a></li>
					<li class="list-inline-item"><a href="{{ settings.twitter }}"><i class="fa fa-twitter"></i></a></li>
				</ul>
				<div class="spacer m-b-1 hidden-lg-up"></div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-6 text-md-right">

				<!-- NEWSLETTER MODAL TRIGGER -->
				<div class="btn-group" role="group" aria-label="Basic example">
					<div class="btn btn-special"><i class="fa fa-comment-o"></i>&nbsp; <strong>Stay up to date</strong></div>
					<a class="btn btn-quinary" data-toggle="modal" data-target="#modal-newsletter">Join our newsletter <i class="fa fa-angle-right"></i></a>
				</div>

			</div>
		</div>
	</div>
</section>

<!-- FOOTER BOTTOM -->
<section class="global-footer-bottom p-y-1">
    <div class="container">
		<div class="row">
			<div class="col-md-2 text-xs-center text-md-left">
				<a data-sitemap-trigger href="#sitemap"><i class="fa fa-angle-up fa-angle-down"></i> Site Map</a>
				<div class="spacer m-b-1 hidden-md-up"></div>
			</div>
			<div class="col-md-7 text-xs-center text-md-left">
				<span>&copy; {{ site.time | date: '%Y' }} <span class="text hidden-md-down">{{ settings.company }}</span></span>&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="/contact/">Contact Us</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="/404/">Privacy Statement</a>
			</div>
			<div class="col-md-3 text-xs-center text-md-right">
				<small>
					<a class="author-logo" target="_blank" href="{{ settings.author.url }}">
				    	<span class="text">{{ settings.author.description }}</span>&nbsp;
				    	<img width="20" height="20" src="{{ settings.author.logo }}" alt="Created by {{ settings.author.title }}">
					</a>
				</small>
			</div>
		</div>
    </div>
</section>

<!-- FOOTER SITEMAP -->
<section id="sitemap" class="global-footer-sitemap is-collapsed" data-sitemap>
	<div class="container">
		<ul class="block-grid-lg-7">
			{% for item in site.data.sitemap offset: 1 %}
				<li>
					<h5>{{ item.title }}</h5>
					<ul class="list-unstyled">
						{% for item in item.children %}
							<li><a href="{{ item.url }}">{{ item.title }}</a></li>
						{% endfor %}
					</ul>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>