{% assign settings = site.data.settings %}

<!-- IF SUCCESS -->
<div class="alert alert-success" hidden>
    <h4>Success!</h4>
    <p>Your form has been submitted.</p>
</div>

<!-- IF FAILURE -->
<div class="alert alert-danger alert-dismissible fade in" role="alert" hidden>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4>Oops!</h4>
    <p>Something went wrong. Please check the fields marked in red below.</p>
</div>

<form id="form-contact" class="form-contact" data-toggle="validator">
    <fieldset>

        <!-- NAME -->
        <div class="form-group">
            <!-- <label for="name">Name*</label> -->
            <input id="name" class="form-control" name="Name" type="text" placeholder="Name*" required>
            <small class="error">Your name is required.</small>
        </div>

        <!-- PHONE -->
        <div class="form-group">
            <!-- <label for="phone">Phone</label> -->
            <input id="phone" class="form-control" name="Phone" type="text" placeholder="Phone">
            <small class="error">A valid phone number is required.</small>
        </div>

        <!-- CLIENT ID -->
        <div class="form-group">
            <!-- <label for="client-id">Client ID*</label> -->
            <input id="client-id" class="form-control" name="Client ID" type="text" placeholder="Client ID (JSID etc)" required>
            <small class="error">Your client ID is required.</small>
        </div>

        <!-- EMAIL -->
        <div class="form-group">
            <!-- <label for="email">Email*</label> -->
            <input id="email" name="Email" class="form-control" type="email" placeholder="Email*" required>
            <small class="error">A valid email is required.</small>
        </div>

        <!-- PROGRAM -->
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="program" class="form-control-label">Which Workskil program is your feedback about? *</label>
                </div>
                <div class="col-md-6">
                    <select id="program" class="custom-select" name="Program" required>
                        <option selected value="" disabled>Select a program</option>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- STAFF MEMBER -->
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="staff-member" class="form-control-label">Which Workskil staff member is your feedback about?</label>
                </div>
                <div class="col-md-6">
                    <input id="staff-member" class="form-control" name="Staff Member" type="text" placeholder="">
                </div>
            </div>
        </div>

        <!-- RESPONSE? -->
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="response-req" class="form-control-label">Would you like a response to your feedback from Workskil? *</label>
                </div>
                <div class="col-md-6">
                    <label class="custom-control custom-radio m-r-1">
                        <input class="custom-control-input" name="Response Req" type="radio" value="true" required>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Yes</span>
                    </label>
                    <label class="custom-control custom-radio m-r-1">
                        <input class="custom-control-input" name="Response Req" type="radio" value="false" required>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">No</span>
                    </label>
                </div>
            </div>
        </div>

        <!-- PREVIOUSLY DISCUSSED WITH -->
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="previously-discussed-with" class="form-control-label">Has this matter been previously discussed with a Workskil staff member *</label>
                </div>
                <div class="col-md-6">
                    <label class="custom-control custom-radio m-r-1">
                        <input class="custom-control-input" name="Previously Discussed With" type="radio" value="true" required>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Yes</span>
                    </label>
                    <label class="custom-control custom-radio m-r-1">
                        <input class="custom-control-input" name="Previously Discussed With" type="radio" value="false" required>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">No</span>
                    </label>
                </div>
            </div>
        </div>

        <!-- PREVIOUS STAFF MEMBER -->
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="previous-staff-member" class="form-control-label">If yes, with whom did you discuss this?</label>
                </div>
                <div class="col-md-6">
                    <input id="previous-staff-member" class="form-control" name="Previous Staff Member" type="text" placeholder="">
                </div>
            </div>
        </div>

        <!-- THIS IS... (CATEGORY) -->
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label for="category" class="form-control-label">This is a *</label>
                </div>
                <div class="col-md-10">
                    <label class="custom-control custom-radio">
                        <input class="custom-control-input" name="Category" type="radio" value="Compliment" required>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Compliment</span>
                    </label>
                    <label class="custom-control custom-radio">
                        <input class="custom-control-input" name="Category" type="radio" value="Comment" required>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Comment</span>
                    </label>
                    <label class="custom-control custom-radio">
                        <input class="custom-control-input" name="Category" type="radio" value="Complaint" required>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Complaint</span>
                    </label>
                </div>
            </div>
        </div>

        <br>

        <!-- MESSAGE -->
        <div class="form-group">
            <label for="message">Feedback relating to any Workskil service (please give a detailed description using dates and times where possible) *</label>
            <textarea id="message" class="form-control" name="Message" rows="6" placeholder="" required></textarea>
            <small class="error">A message is required.</small>
        </div>

        <br>

        <!-- PRIVACY -->
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="privacy" class="form-control-label">We may use your comments in our publicity such as newsletters and on the Workskil website, if you don't want us to do this, please tick here</label>
                </div>
                <div class="col-md-1">
                    <label class="form-check-inline custom-control m-r-1">
                        <span class="custom-control-description"></span>
                        <input id="privacy" class="form-check-input custom-control-input" name="Privacy" type="checkbox" value="true">
                        <span class="custom-control-indicator"></span>
                    </label>
                </div>
                <div class="col-md-5">

                    <!-- SUBMIT -->
                    <div class="text-xs-right">
                        <button type="submit" class="btn btn-primary">Send &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i></button>
                    </div>

                </div>
            </div>
        </div>
    </fieldset>
</form>