{% assign settings = site.data.settings %}
{% assign logo = page.logo | default: "/assets/img/content/logo.png" %}

<!-- HEADER TOP -->
<div class="global-header-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-8">
                <a target="_blank" href="tel:{{ settings.offices[0].phone }}">
                    <i class="fa fa-phone"></i>&nbsp;
                    <span class="text hidden-sm-down">1300 Workskil ({{ settings.offices[0].phone }})</span>
                    <span class="text hidden-md-up">{{ settings.offices[0].phone }}</span>
                </a>
                <span class="spacer m-x-1 hidden-sm-down"></span>
                <a class="hidden-sm-down" target="_blank" href="/locations/"><i class="fa fa-map-marker"></i>&nbsp;  Find a location</a>
            </div>
            <div class="col-xs-6 col-md-4 text-xs-right">
                <a href="#" data-search-trigger><i class="fa fa-search"></i><span class="text hidden-sm-down">&nbsp; Search</span></a>
            </div>
        </div>
    </div>
</div>

<!-- HEADER BODY -->
<div class="global-header-body">
    <div class="container">
        <div class="display-table">
            <div class="display-cell">

                <!-- LOGO -->
                <a class="logo" href="/" title="{{ settings.seo_title }}" itemprop="url">
                    <img src="{{ logo }}" alt="{{ settings.company_title }}" itemprop="logo">
                </a>

                <!-- HAMBURGER -->
                <div class="global-mobile-menu hidden-xl-up">
                    <div class="lv-hamburger" data-menu-toggle>
                        <span class="lv-hamburger-top"></span>
                        <span class="lv-hamburger-middle"></span>
                        <span class="lv-hamburger-bottom"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>