{% comment %}
    LIQUIDVISUAL-HERO

    - updated: 18.11.16
    - notes:
        * Multiple items in carousel_slides.yml triggers carousel mode
        * .has-auto-height - caption will detemine height
        * .has-fixed-height - used for internal pages to set a height
{% endcomment %}

{% assign hero_images = site.data.carousel_slides %}
{% assign hero_header = page.hero_header %}
{% assign hero_body = page.hero_body %}

<div class="lv-hero-wrapper">

    <!-- HERO -->
    <div class="lv-hero">

        <!-- HERO ITEM -->
        <div class="lv-hero-item" style="background-image: url('/assets/img/content/hero/hero-1.jpg')">
            <div class="lv-hero-item-caption">
                <div class="container">

                    <div class="row table-row">
                        <div class="col-xl-6 v-align-bottom">
                            <h3 class="m-b-1">{{ hero_header }}</h3>
                            <p class="m-b-0 h4">{{ hero_body }}</p>
                            <div class="spacer m-b-1 hidden-xl-up"></div>
                        </div>
                        <div class="col-xl-6 v-align-bottom">

                            <div class="lv-hero-caption-feature">
                                <a href="/about/our-company/our-board/" class="btn btn-hero-feature"><i class="fa fa-users"></i> <span class="text">Looking for staff?</span> <i class="fa fa-angle-right"></i></a>
                                <div class="spacer m-b-1 hidden-md-up"></div>
                                <div class="lv-hero-caption-feature-case">
                                    <h3 class="text-xl-right">Our Services</h3>
                                    <ul class="m-b-0 block-grid-xs-1 block-grid-md-2 block-grid-special-gaps">
                                        <li><a class="btn btn-cta btn-secondary btn-block" href="/youth/">Youth <i class="fa fa-angle-right"></i></a></li>
                                        <li><a class="btn btn-cta btn-primary btn-block" href="/employment/">Employment <i class="fa fa-angle-right"></i></a></li>
                                        <li><a class="btn btn-cta btn-tertiary btn-block" href="/indigenous/">Indigenous <i class="fa fa-angle-right"></i></a></li>
                                        <li><a class="btn btn-cta btn-quaternary btn-block" href="/health/">Health <i class="fa fa-angle-right"></i></a></li>
                                    </ul>
                                </div>
                            </div> <!-- /.lv-hero-caption-feature -->

                        </div> <!-- /. col -->
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- /.lv-hero-item-caption -->
        </div> <!-- /.lv-hero-item -->
    </div> <!-- /.lv-hero -->

    {% comment %}
    <!-- CAROUSEL CONTROLS -->
    <div class="lv-hero-carousel-controls">
        <div class="container">
            <span href="#" class="lv-hero-carousel-prev-btn"><i class="fa fa-angle-left"></i></span>
            <span href="#" class="lv-hero-carousel-next-btn"><i class="fa fa-angle-right"></i></span>
        </div>
    </div>
    {% endcomment %}

</div> <!-- /.lv-hero-wrapper -->