{% comment %}
    LIQUIDVISUAL-HERO

    - Updated: 29.11.17, 18.11.16
    - Notes:
        * Multiple items in carousel_slides.yml triggers carousel mode
        * .has-auto-height - caption will detemine height
        * .has-fixed-height - used for internal pages to set a height
{% endcomment %}

{% assign hero_images = site.data.carousel_slides %}
{% assign hero_header = page.hero_header %}
{% assign hero_body = page.hero_body %}

<div class="lv-hero-wrapper">

    <!-- HERO -->
    <div class="lv-hero">

        <!-- HERO ITEM -->
        <div class="lv-hero-item" style="background-image: url('/assets/img/content/hero/mobile-view-banner.jpg')">

            <!-- HERO CAROUSEL -->
            <div class="lv-hero-item-carousel-wrapper">
                <div class="lv-hero-item-carousel" data-pause="8000">
                    <span class="lv-hero-item-carousel-slide" style="background-image: url(/assets/img/content/hero/home-banner-template-1500px-x-802px3.jpg)"></span>
                    <span class="lv-hero-item-carousel-slide" style="background-image: url(/assets/img/content/hero/home-banner-template-1500px-x-802px4.jpg)"></span>
                    <span class="lv-hero-item-carousel-slide" style="background-image: url(/assets/img/content/hero/home-banner-template-1500px-x-802px5.jpg)"></span>
                    <span class="lv-hero-item-carousel-slide" style="background-image: url(/assets/img/content/hero/home-banner-template-1500px-x-802px6.jpg)"></span>
                    <span class="lv-hero-item-carousel-slide" style="background-image: url(/assets/img/content/hero/home-banner-template-1500px-x-802px2.jpg)"></span>
                </div>
            </div>

            <div class="hero-home-overlay"></div>

            <div class="lv-hero-item-caption">
                <div class="container">

                    <div class="row table-row">
                        <div class="col-lg-5 col-xl-5 v-align-bottom">
                            <div class="special-hero-text p-r-3">
                                <h3 class="m-b-1">{{ hero_header }}</h3>
                                <p class="m-b-0 h4">{{ hero_body }}</p>
                            </div>
                            <div class="spacer m-b-1 hidden-lg-up"></div>
                        </div>
                        <div class="col-lg-7 col-xl-7 v-align-bottom">

                            <!-- HERO CAPTION FEATURE -->
                            <div class="lv-hero-caption-feature">

                                <!-- FEATURE CASE -->
                                <!-- <div class="lv-hero-caption-feature-case">
                                    <h3 class="text-xl-right">Our Services</h3>
                                    <ul class="m-b-0 block-grid-xs-1 block-grid-md-2 block-grid-special-gaps">
                                        <li><a class="btn btn-cta btn-secondary btn-block" href="/youth/">Youth <i class="fa fa-angle-right"></i></a></li>
                                        <li><a class="btn btn-cta btn-primary btn-block" href="/employment/">Employment <i class="fa fa-angle-right"></i></a></li>
                                        <li><a class="btn btn-cta btn-tertiary btn-block" href="/indigenous/">Indigenous <i class="fa fa-angle-right"></i></a></li>
                                        <li><a class="btn btn-cta btn-quaternary btn-block" href="/health/">Health <i class="fa fa-angle-right"></i></a></li>
                                    </ul>
                                </div> -->

                                <!-- SERVICE TILES -->
                                <ul class="block-grid-condensed-max block-grid-xs-1 block-grid-md-2 block-grid-lg-2">
                                    <li>
                                        <a href="#" class="btn-tile-glass" data-equal-height>
                                            <span class="text h3">Job Seekers&nbsp;<i class="fa fa-angle-right"></i></span>
                                            <p>I'm looking for work</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn-tile-glass" data-equal-height>
                                            <span class="text h3">Employers&nbsp;<i class="fa fa-angle-right"></i></span>
                                            <p>I'm looking for staff</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn-tile-glass" data-equal-height>
                                            <span class="text h3">Disability Employment Services&nbsp;<i class="fa fa-angle-right"></i></span>
                                            <p>I have an illness, injury, disability or mental health condition.</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn-tile-glass" data-equal-height>
                                            <span class="text h3">Community&nbsp;<i class="fa fa-angle-right"></i></span>
                                            <p>I need counselling or support</p>
                                        </a>
                                    </li>
                                </ul>

                                <!-- CTA -->
                                <a href="/about/our-company/our-board/" class="btn btn-hero-feature">
                                    <i class="fa fa-id-card"></i> <span class="text">Register Job Vacancies</span> <i class="fa fa-angle-right"></i>
                                </a>

                                <!-- MIND THE GAP -->
                                <div class="spacer m-b-3 hidden-md-up"></div>

                            </div> <!-- /.lv-hero-caption-feature -->

                        </div> <!-- /. col -->
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- /.lv-hero-item-caption -->
        </div> <!-- /.lv-hero-item -->
    </div> <!-- /.lv-hero -->

    {% comment %}
    <!-- CAROUSEL CONTROLS -->
    <div class="lv-hero-carousel-controls">
        <div class="container">
            <span href="#" class="lv-hero-carousel-prev-btn"><i class="fa fa-angle-left"></i></span>
            <span href="#" class="lv-hero-carousel-next-btn"><i class="fa fa-angle-right"></i></span>
        </div>
    </div>
    {% endcomment %}

</div> <!-- /.lv-hero-wrapper -->