/*
    GLOBAL.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// GLOBAL
//-----------------------------------------------------------------

html {
	overflow-x: hidden;
}

//-----------------------------------------------------------------
// PAGE
//-----------------------------------------------------------------

.lv-page {
	@include media-breakpoint-down(sm) {
	    // padding-top: $header-height-sm;
	}
}

//-----------------------------------------------------------------
// GRID CONTAINER
//-----------------------------------------------------------------

.container {
	@include media-breakpoint-up(md) {
	    padding: 0 $container-gutter;
	}
}

//-----------------------------------------------------------------
// MIMICK FLEX - USED IN HOMEPAGE HERO
//-----------------------------------------------------------------

.table-row {
    @include media-breakpoint-up(lg) {
        display: table;
        width: 100%;
        margin: 0;
    }

    [class*='col-'] {
        @include media-breakpoint-up(lg) {
            display: table-cell;
            float: none;
            padding: 0;
        }
    }
}

//=========================================
//
//=========================================