{% assign settings = site.data.settings %}

<!-- DIDN'T FIND WHAT YOU WERE LOOKING FOR -->
<div class="section-cta mb-4 mb-xl-5">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-7 col-xl-8">
				<h2 class="h1 text-white mb-2">Didn't find what you were looking for?</h2>
				<p class="lead">If you are registered with Workskil call us on <a class="text-white" href="tel:{{ settings.offices[0].phone }}">{{ settings.offices[0].phone }}</a> to book an appointment with your Coach.</p>
			</div>
			<div class="col-md-5 col-xl-4 text-md-right">
				<a href="/contact-us/" class="btn btn-primary"><span class="h3 text-white px-4 mb-1">Request a<br class="hidden-sm-down"> call back <i class="fa fa-angle-right"></i></span></a>
			</div>
		</div>
	</div>
</div>