/*
    FOOTER.CSS

    - Last updated: 18.11.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

.global-footer {
	h1, h2, h3, h4, h5, h6 {
		color: white;
	}
}

//-----------------------------------------------------------------
// FOOTER BODY
//-----------------------------------------------------------------

.global-footer-body {
	background: $brand-primary;
	color: white;
	padding: rem-calc(40 0);

	p {
		font-size: rem-calc(15);
	}

	a:not(.btn) {
		color: $brand-quinary;
	}
}

//-----------------------------------------------------------------
// FOOTER BOTTOM
//-----------------------------------------------------------------

.global-footer-bottom {
	background: $gray-dark;
	color: white;

	a {
		color: white;

		&:hover {
			color: darken(white, 20%);
		}
	}

	//=========================================
	// AUTHOR LOGO
	//=========================================

	.author-logo {
		font-size: rem-calc(11);
		text-transform: uppercase;
		color: white;

		.text {
			position: relative;
			top: 2px;
			opacity: 0.3;
		}

		img {
			opacity: 0.5;
		}
	}
}

//-----------------------------------------------------------------
// FOOTER SITEMAP
//-----------------------------------------------------------------

.global-footer-sitemap {
	background: darken($gray-dark, 5%);
	padding: $spacer-y*2 0;
	transition: height ease 300ms, padding ease 300ms;

	h1, h2, h3, h4, h5, h6 {
		color: $brand-primary;
	}

	a {
		color: rgba(white, 0.5);

		&:hover {
			color: white;
		}
	}

	&.is-collapsed {
		padding: 0;
		height: 0;
		overflow: hidden;
		transition: padding ease 300ms;
	}
}

//=========================================
//
//=========================================