/*
    FOOTER.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

.global-footer {

}

//-----------------------------------------------------------------
// FOOTER BODY
//-----------------------------------------------------------------

.global-footer-body {
	background: $brand-primary;
	color: white;
	padding: rem-calc(40 0);

	p {
		font-size: rem-calc(15);
	}

	a:not(.btn) {
		color: $brand-quinary;
	}
}

//-----------------------------------------------------------------
// FOOTER BOTTOM
//-----------------------------------------------------------------

.global-footer-bottom {
	background: $gray-dark;
	color: white;

	a {
		color: white;

		&:hover {
			color: darken(white, 20%);
		}
	}

	//=========================================
	// AUTHOR LOGO
	//=========================================

	.author-logo {
		font-size: rem-calc(11);
		text-transform: uppercase;
		color: white;

		.text {
			opacity: 0.3;
		}

		img {
			opacity: 0.5;
		}
	}
}

//-----------------------------------------------------------------
// FOOTER BOTTOM
//-----------------------------------------------------------------

//=========================================
//
//=========================================