/*
    HEADER.CSS

    - Last updated: 27.03.19, 06.10.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

$header-top-sm-height: 50px !default;
$header-top-md-height: 50px !default;
$header-top-lg-height: 50px !default;

$header-body-sm-height: 60px !default;
$header-body-md-height: 110px !default; //230px !default;
$header-body-lg-height: 110px !default; //230px !default;
$header-body-xl-height: 110px !default; //324px !default;
$header-body-xxl-height: 110px !default; //324px !default;

// $header-bottom-sm-height: 50px !default;
// $header-bottom-md-height: 50px !default;
$header-bottom-lg-height: 59px !default;

//-----------------------------------------------------------------
// HEADROOM
//-----------------------------------------------------------------
//****************************************************
// PINNED - SCROLLING DOWN
//****************************************************

.headroom--pinned .global-header {
    @include media-breakpoint-down(lg) {
        transform: translateY(0%); // SHOW MENU BAR
        transition: transform 200ms ease;
    }
}

//****************************************************
// UNPINNED - SCROLLING UP
//****************************************************

.headroom--unpinned .global-header {
	@include media-breakpoint-down(lg) {
    	transform: translateY(-106%); // HIDE MENU BAR
	}
}

//****************************************************
// HEADROOM NOT TOP
//****************************************************

.headroom--not-top .global-header {
	position: fixed;
	box-shadow: 0 0 3px 1px rgba(black, 0.2);

	@include media-breakpoint-up(xl) {
	    animation: subtle-entrance 150ms ease 0s alternate 1 forwards;

	    @keyframes subtle-entrance {
	    	from { transform: translateY(-50px); }
	    	to   { transform: translateY(0); }
	    }
	}

	> .container {
		max-width: none;
		padding: 0;
	}

	.global-header-top {
		height: 0;
		padding: 0;
		overflow: hidden;
	}

	.global-header-body {
		@include media-breakpoint-up(md) {
		    height: rem-calc(70);
		}

		.logo img {
			@include media-breakpoint-up(md) {
			    max-height: rem-calc(48);
			}
		}
	}
}

//-----------------------------------------------------------------
// HEADER GENERAL
//-----------------------------------------------------------------

.global-header {
	position: absolute; // [LOCKED] - prevents glitches
	top: 0;
	left: 0;
	width: 100%;
	will-change: transform;
	z-index: 200;

	// we delegate $container to the child
	> .container {
		@include media-breakpoint-down(sm) {
		    max-width: none;
		    padding: 0;
		}
	}
}

//-----------------------------------------------------------------
// HEADER TOP (BLUE)
//-----------------------------------------------------------------

.global-header-top {
	display: flex;
	align-items: center;
	position: relative; // [LOCKED]
	height: $header-top-sm-height;
	background-color: $quinary;
	font-size: rem-calc(20);
	font-weight: $font-weight-bold;
	color: white;

	@include media-breakpoint-up(md) {
	    height: $header-top-lg-height;
	    background-color: transparent;
	}

	> .container {
		display: flex;

		// we delegate $container to the outer parent
		@include media-breakpoint-up(md) {
		    max-width: none;
		    padding: 0;
		}
	}

	a {
		font-weight: $font-weight-normal;
		color: white; // [THEMEABLE]
		transition: opacity 200ms ease;

		i {
			position: relative;
			top: 1px;
			font-size: rem-calc(23);
		}

		&:hover {
			opacity: 0.85;
		}
	}

	a:last-of-type {
		margin-right: 0;
	}
}

//-----------------------------------------------------------------
// FONT RESIZER
//-----------------------------------------------------------------

.global-header-top .font-resizer {
	button {
		position: relative;
		padding: rem-calc(5 12 5 8);
		border: 0;
		border-radius: 0;
		background: none !important;
		font-size: rem-calc(20);
		font-weight: $font-weight-bold;
		line-height: 1;
		outline: none !important;
		box-shadow: none !important;

		.fa {
			position: absolute;
			top: 3px;
			right: 6px;
			font-size: rem-calc(10);
			opacity: 0.6;
		}

		&:active .fa {
			opacity: 1;
		}
	}
}

//-----------------------------------------------------------------
// HEADER BODY
//-----------------------------------------------------------------

.global-header-body {
	display: flex;
	align-items: center;
	position: relative; // safe? - added for dropdown
	height: $header-body-sm-height;
	background-color: white;
	// transition: height 100ms ease;

	@include media-breakpoint-up(md) {
	    height: $header-body-md-height;
	}

	@include media-breakpoint-up(lg) {
		height: $header-body-lg-height;
	}

	@include media-breakpoint-up(xl) {
		height: $header-body-xl-height;
	}

	@include media-breakpoint-up(xxl) {
	    height: $header-body-xxl-height;
	}

	//=========================================
	// HEADER HEIGHT [LOCKED]
	//=========================================

	> .container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		@include media-breakpoint-down(xs) {
		    width: 100%; // fixes mobile glitch?
		}
	}
}

//-----------------------------------------------------------------
// GLOBAL MOBILE MENU
//-----------------------------------------------------------------

.global-mobile-menu {
	position: absolute;
	right: rem-calc(15);

	@include media-breakpoint-up(md) {
	    right: $container-gutter;
	}
}

//-----------------------------------------------------------------
// LOGO
//-----------------------------------------------------------------

.global-header .logo {
	margin: 0 auto;

	@include media-breakpoint-up(xl) {
	    margin: 0 0 0 auto;
	}

	img {
	    max-height: rem-calc(48); // + 15 padding

		@include media-breakpoint-up(md) {
		    max-height: rem-calc(78); // [LOCKED] - default size
		}
	}
}

//-----------------------------------------------------------------
// PAGE HEADER
//-----------------------------------------------------------------

.page-header {
	position: relative;
	padding: rem-calc(20 40);
	// margin-top: rem-calc(240);
	margin-top: rem-calc(92);
	background: $primary;
	font-weight: $font-weight-bold;
	color: white;
	z-index: 100;

	@include media-breakpoint-down(sm) {
		// left: -15px;
		// width: calc(100% + 15px*2);
		padding: $spacer;
	}

	@include media-breakpoint-up(md) {
	    // margin-top: rem-calc(400);
	    padding: rem-calc(30 40);
	}

	@include media-breakpoint-up(lg) {
		// margin-top: rem-calc(586);
	    margin-right: $spacer*2;
	}

	h1, .h1 {
		@include media-breakpoint-down(sm) {
		    font-size: rem-calc(35);
		}
	}

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
		color: white;
	}
}

//=========================================
//
//=========================================