/*
    TOPBAR.CSS

    - updated: 18.10.19, 25.03.19, 16.04.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// NAVIGATION
//-----------------------------------------------------------------

.global-navigation {
    position: relative; // [LOCKED]
}

//****************************************************
// HEADROOM NOT TOP
//****************************************************

// SMALL NAV FONTS
.headroom--not-top .lv-topbar a {
    font-size: rem-calc(16); // -- client request - revert if uppercase goes away
}

// SMALLER NAV DROPDOWN FONTS
.headroom--not-top .lv-topbar .dropdown li a {
    font-size: rem-calc(14); // 16 -- client request - revert if uppercase goes away
    padding-top: rem-calc(10);
    padding-bottom: rem-calc(10);
}

// GROW BLUE NAV FULL WIDTH
.headroom--not-top .lv-topbar .dropdown:after {
    left: -100vw;
    width: 200vw;
    box-shadow: 0 5px 2px -4px rgba(black, 0.1);
}

// EXTREME EDGE CASE - L:200
.headroom--not-top .lv-topbar > ul > li.active > .dropdown {
    z-index: 1; // [LOCKED] - fixes glitch
}

.headroom--not-top .global-header-body:after {
    box-shadow: 0 5px 2px -4px rgba(black, 0.1);
}

//-----------------------------------------------------------------
// BG FILLS - these create the BG color stips
// **** EXTREME EDGE CASE ****
//-----------------------------------------------------------------

.global-header-body:after,
.lv-topbar .dropdown:after { // VERY SPECIAL CASE
    @include media-breakpoint-up(xl) {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary;
    }
}

.global-header-body:after { // VERY SPECIAL CASE
    z-index: -1;
    bottom: rem-calc(-6);
}

//-----------------------------------------------------------------
// ALL ULS
//-----------------------------------------------------------------

.lv-topbar ul {
    padding: rem-calc(0 18);
    margin: 0;  // [RESET]
    list-style: none; // [RESET]
    font-family: $font-family-sans-serif;
    font-size: rem-calc(20);
    font-weight: $font-weight-bold;
    pointer-events: none;
}

//-----------------------------------------------------------------
// TOP PARENT UL
//-----------------------------------------------------------------

.lv-topbar > ul {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

//-----------------------------------------------------------------
// TOP PARENT LI
//-----------------------------------------------------------------

.lv-topbar > ul > li {
    overflow: hidden; // score, hides overflow from triangle

    // exclude 'Home' from nav
    // &[data-alias="home"] {
    //     display: none;
    // }
}

//-----------------------------------------------------------------
// ALL ANCHORS (INCL. DROPDOWN CHILDREN)
//-----------------------------------------------------------------

.lv-topbar a {
    display: block; // [LOCKED]
    pointer-events: auto; // [LOCKED]

    font-size: rem-calc(17); // -- client requested
    text-transform: uppercase; // -- client requested

    .submenu-arrow {
        display: none;
    }
}

//-----------------------------------------------------------------
// TOP PARENT ANCHORS
//-----------------------------------------------------------------

.lv-topbar > ul > li > a {
    display: block; // [LOCKED]
    position: relative; // [LOCKED] - for triangle
    padding: rem-calc(0 15);
    line-height: rem-calc(70); // so we can get it exact
    color: $quinary;
}

//-----------------------------------------------------------------
// TOP PARENT ANCHOR TRIANGLE
//-----------------------------------------------------------------

.lv-topbar > ul > li > a > .text:after {
    content: "";
    position: absolute;
    left: calc(50% - 18px);
    bottom: -1px; //-10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 16px 18px 16px;
    border-color: transparent transparent $primary transparent; // ****
    visibility: hidden; // undo this
    transform: translateY(100%);
    transition: transform 150ms ease, background-color 150ms ease;
}

//-----------------------------------------------------------------
// HOVER, ACTIVE (TRIANGLE)
//-----------------------------------------------------------------

// ANCHOR HOVER
.lv-topbar > ul > li > a:hover {
    // background: rgba(black, 0.05);
    color: lighten($quinary, 20%);
}

// DROPDOWN ANCHOR HOVER
.lv-topbar .dropdown li a:hover:after {
    opacity: 1;
    // background: rgba(black, 0.08);
    // background: linear-gradient(-180deg, rgba(black, 0) 2%, rgba(black, 0.1) 100%);
}

// TOP PARENT ACTIVE = SHOW TRIANGLE
.lv-topbar > ul > li.active > a > .text:after {
    visibility: visible;
    transform: translateY(0);
}

// DROPDOWN ACTIVE = WHITE LINE
.lv-topbar .dropdown li.active > a > .text:after {
    content: "";
    position: absolute;
    left: rem-calc(15);
    bottom: 0;
    width: calc(100% - #{rem-calc(30)});
    height: 2px;
    background: white;
}

//-----------------------------------------------------------------

// SHOW DROPDOWN
.lv-topbar > ul > li.active > .dropdown {
    visibility: visible;
    transform: translateY(0);
    transition: none;
    display: flex;
    z-index: 1; // [LOCKED] - fixes glitch
}

//----------------------------------------------------^^-----------
// DROPDOWNS - the direct above is closely tied to this
//-----------------------------------------------------------------

.lv-topbar .dropdown {
    // display: none;
    display: flex;
    position: absolute;
    left: 0;
    width: 100%;
    visibility: hidden;
    // background: $primary; // delegated to bg-fill above
    transform: translateY(-100%);
    transition: transform 250ms ease, visibility 0 250ms ease; // ensure no clicks
    will-change: transform;
    z-index: -1; // may not need if no animation
}

// DEEP DROPDOWNS ALWAYS HIDDEN
.lv-topbar .dropdown .dropdown {
    display: none;
}

//-----------------------------------------------------------------
// DROPDOWN LIST + ANCHORS
//-----------------------------------------------------------------

.lv-topbar .dropdown li {
    position: relative;

    a {
        position: relative;
        padding: rem-calc(16 15);
        font-size: rem-calc(18); // -- client requested
        text-transform: none; // -- client requested
        color: white;
        transition: background 150ms ease;
        z-index: 1;

        // CREATE ACTIVE GRADIENT
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // background: rgba(black, 0.08);
            background: linear-gradient(-180deg, rgba(black, 0) 2%, rgba(black, 0.1) 100%);
            opacity: 0;
            transition: opacity 100ms ease;
            z-index: -1;
        }
    }
}

//-----------------------------------------------------------------
// CONTEXT
//-----------------------------------------------------------------

.is-off-canvas-only {
    display: none;
}

.lv-off-canvas .is-off-canvas-only {
    display: block;
    border: 0;
}

//=========================================
//
//=========================================