/*
    BUTTONS.CSS

    - Last updated: 30.11.16
    - buttons is a bit of a shitshow, needs refactoring
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
// BUTTONS
//--------------------------------------------------------------------

.btn {
	display: inline-flex;
	align-items: center;
	border: 0;
	border-radius: 0;
	background: $primary;
	font-size: rem-calc(18);
	// padding: rem-calc(15 25 15 30);
	padding: rem-calc(14 20 14 20);
	color: white;

	i {
		position: relative;
		top: -1px;
		margin-left: 5px;
		font-size: rem-calc(25); //rem-calc(30);
	}
}

//--------------------------------------------------------------------
// BTN LG (used only on the homepage hero CTA)
//--------------------------------------------------------------------

.btn-lg {
	font-size: rem-calc(23);
	min-width: rem-calc(265);
	padding: rem-calc(20 25);

	i.fa {
		font-size: rem-calc(25);
		opacity: 1;
	}
}

//--------------------------------------------------------------------
// BUTTON TILE
//--------------------------------------------------------------------

.btn-tile {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: rem-calc(25);
	background: $quinary;
	overflow: hidden;

	h1, h2, h3, h4, h5, h6 {
		color: white;
	}

	h3 {
		min-height: rem-calc(70); // double line header
	}

	p {
		margin-top: auto;
		margin-bottom: 0;
		color: rgba(white, 0.56);
	}

	.fa {
		position: absolute;
		bottom: 10px;
		right: 10px;
		color: white;
		font-size: rem-calc(26);
	}

	&:hover {
		@include media-breakpoint-up(md) {
		    background: darken($quinary, 5%);
		    color: white;
		}
	}
}

//--------------------------------------------------------------------
// OVERLAY STUFF - used on homepage tiles mostly
//--------------------------------------------------------------------

.btn-tile {

	.btn-tile-title {
		position: absolute;
		top: 0;
		left: 0;
		padding: rem-calc(30);

		@include media-breakpoint-down(lg) {
		    font-size: rem-calc(26);
		}
	}

	.btn-tile-bg {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-position: center center;
	    background-size: cover;
	    background-repeat: none;
	    transition: transform 300ms ease;
	    will-change: transform;
	}

	&.is-large {
		.btn-tile-title {
			margin-right: rem-calc(20);
		}

		i {
			font-size: rem-calc(60);
			color: rgba(white, 0.6);
			padding: rem-calc(5 15);
		}

		.btn-tile-bg {
			opacity: 0.15;
		}

		@include media-breakpoint-down(sm) {
		    height: rem-calc(150);
		}
	}
}

.btn-tile:hover,
a:hover .btn-tile {
    @include media-breakpoint-up(xl) {
        .btn-tile-bg {
            transform: scale(1.05);
        }

        .btn-tile-bg:after {
            transform: scale(1.08);
        }

        .btn-tile-overlay {
            opacity: 1;
        }
    }
}

//-----------------------------------------------------------------
// BTN-NEWS - used on homepage for news
//-----------------------------------------------------------------

.btn-news {
	&.btn-primary    .btn-tile-title { background-color: rgba($primary, 0.81); }
	&.btn-secondary  .btn-tile-title { background-color: rgba($secondary, 0.81); }
	&.btn-tertiary   .btn-tile-title { background-color: rgba($tertiary, 0.81); }
	&.btn-quaternary .btn-tile-title { background-color: rgba($quaternary, 0.81); }
	&.btn-quinary    .btn-tile-title { background-color: rgba($quinary, 0.81); }

	.btn-tile-title {
		top: auto;
		bottom: 0;
		width: 100%;
		min-height: 0;
		padding: rem-calc(25 30);
		margin: 0;
	}
}

//--------------------------------------------------------------------
// BUTTON TILE DROPDOWN (USED ON LOCATIONS)
//--------------------------------------------------------------------

.btn-tile-dropdown {
	padding-top: rem-calc(50);

	@include media-breakpoint-up(md) {
	    padding-top: rem-calc(70);
	}

	.text {
		color: white;
		margin: 0;

		@include media-breakpoint-down(md) {
		    font-size: rem-calc(18);
		}
	}

	.fa {
		right: 20px;
		font-size: rem-calc(40);
	}
}

//--------------------------------------------------------------------
// BTN SLIM + BTN OPAQUE
//--------------------------------------------------------------------

.btn-opaque,
.btn-slim {
	padding: rem-calc(8 16 8 16);
	background: rgba(white, 0.3);
	font-size: rem-calc(14);
	color: $quinary;
	text-transform: uppercase;

	i {
		position: relative;
		top: 1px;
		font-size: rem-calc(20);
	}

	&:hover {
		color: $quinary;
		background: rgba(white, 0.5);
	}
}

.btn-slim {
	color: white;
}

//--------------------------------------------------------------------
// COLORS
//--------------------------------------------------------------------

.btn-primary {
	background: $primary;

	&:hover {
		background: darken($primary, 5%);
		color: white;
	}
}

.btn-secondary {
	background: $secondary;

	&:hover {
		background: darken($secondary, 5%);
		color: white;
	}
}

.btn-tertiary {
	background: $tertiary;

	&:hover {
		background: darken($tertiary, 5%);
		color: white;
	}
}

.btn-quaternary {
	background: $quaternary;

	&:hover {
		background: darken($quaternary, 5%);
		color: white;
	}
}

.btn-quinary {
	background: $quinary;

	&:hover {
		background: darken($quinary, 5%);
		color: white;
	}
}

//--------------------------------------------------------------------
// Appears in footer only right now
//--------------------------------------------------------------------

.btn-special {
	display: flex;
	align-items: center;
	background: rgba($quinary, 0.3);
	pointer-events: none;

	.fa {
		position: relative;
		top: rem-calc(-2);
	}
}

//-----------------------------------------------------------------
// BACK TO TOP
//-----------------------------------------------------------------

.btn-back-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: inline-flex;
    flex-direction: column; // [LOCKED]
    justify-content: center; // [LOCKED]
    align-items: center; // [LOCKED]
    width: 44px; // [LOCKED]
    height: 44px; // [LOCKED]
    border: 0;
    border-radius: 100%; // [LOCKED]
    background: rgba(black, 0.5); // same as hero arrows
    font-size: 10px;
    color: white;
    opacity: 0;
    transform: translateY(5px);
    transition: opacity 300ms ease, transform 300ms ease, bottom 600ms ease;
    cursor: pointer;
    pointer-events: none;
    z-index: 999;

    > div {
        margin: auto 0;
    }

    i {
        font-size: rem-calc(18);
        line-height: 0.8;
        display: block;
        margin: auto 0;
    }

    &:hover {
        background: rgba(black, 0.3);
    }
}

.headroom--not-top.headroom--unpinned .btn-back-top {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.headroom--bottom .btn-back-top {
    @include media-breakpoint-up(sm) {
        bottom: 80px;
    }
}

//=============================================
// IE11
//=============================================

@media all and (-ms-high-contrast:none) {
    .btn-back-top > div {
		margin-top: -4px;
    }
 }

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================