/*
    BUTTONS.CSS

    - Last updated: 30.11.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
// BUTTONS
//--------------------------------------------------------------------

.btn {
	border: 0;
	border-radius: 0;
	background: $brand-quinary;
	font-size: rem-calc(18);
	padding: rem-calc(15 25 15 30);
	color: white;

	i {
		position: relative;
		top: 3px;
		margin-left: 5px;
		font-size: rem-calc(30);
		line-height: 0;
	}
}

//--------------------------------------------------------------------
// Appears in footer only right now
//--------------------------------------------------------------------

.btn-special {
	cursor: default;
	background: rgba($brand-quinary, 0.3);
	padding-left: rem-calc(20);

	&:hover {
		background: rgba($brand-quinary, 0.3);
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================