/*
    CARDS.CSS

    - Last updated: 22.11.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
// CARDS
//--------------------------------------------------------------------

.card-location {
	background: #eeeeee;
	padding: rem-calc(30);

	i {
		color: $brand-primary;
		font-size: rem-calc(16);

		@include media-breakpoint-up(xl) {
		    font-size: rem-calc(20);
		}
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================