/*
    FORMS.CSS

    - Last updated: 06.10.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// FORMS
//-----------------------------------------------------------------

input[type="text"],
input[type="email"],
input[type="phone"],
input[type="password"],
textarea,
.custom-control-indicator,
.custom-select {
	-webkit-appearance: none; // removes shadow on iOS
	border: 2px solid #e2e1e1;
	background-color: #f3f3f5;
	border-radius: 0;
}

// To make checkbox/radios line up vertically
.custom-control-label:before,
.custom-control-label:after {
	margin-top: -2px;
}

// Grey checkbox lines in contact form
.custom-radio .custom-control-label:before,
.custom-radio .custom-control-label:after {
	border: 2px solid #e2e1e1;
	border-radius: 100%;
}


select {
	background-color: #f3f3f5;
	font-weight: bold;
	height: 50px;
	width: 100%;
}

label {
	font-weight: bold;
}

form button {
	transition: background ease 300ms;
	&:hover {
		// background: darken($primary, 10%);
	}
}

::-webkit-input-placeholder { color: #545353 !important; font-weight: bold; }
::-moz-placeholder { color: #545353 !important; font-weight: bold; }
:-ms-input-placeholder { color: #545353 !important; font-weight: bold; }
input:-moz-placeholder { color: #545353 !important; font-weight: bold; }

//-----------------------------------------------------------------
// BOOTSTRAP VALIDATION
// http://1000hz.github.io/bootstrap-validator/#validator-events
//-----------------------------------------------------------------

form[data-toggle="validator"] .error {
	display: none;
	width: 100%;
	padding: rem-calc(5 10);
	background: $danger;
	color: white;
}

form[data-toggle="validator"] .has-error .form-control-label {
	color: $danger;
}

form[data-toggle="validator"] .has-error > .form-control {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-color: $danger;
}

form[data-toggle="validator"] .has-error > .error {
	display: block;
}

//-----------------------------------------------------------------
// Need to find why the styling is off
//-----------------------------------------------------------------

.alert-success {
	h1, h2, h3, h4, h5, h6 {
		color: $success !important;
	}
}

.alert-danger {
	h1, h2, h3, h4, h5, h6 {
		color: $danger !important;
	}
}

.form-locations {
	margin-bottom: rem-calc(45);
}

//=========================================
//
//=========================================