/*
    FORMS.CSS

    - Last updated: 06.10.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// FORMS
//-----------------------------------------------------------------

input[type="text"],
input[type="email"],
input[type="phone"],
input[type="password"],
textarea {
	-webkit-appearance: none; // removes shadow on iOS
}

// ::-webkit-input-placeholder { font-weight: normal !important; }
// ::-moz-placeholder { font-weight: normal !important; }
// :-ms-input-placeholder { font-weight: normal !important; }
// input:-moz-placeholder { font-weight: normal!important ; }

//-----------------------------------------------------------------
// BOOTSTRAP VALIDATION
// http://1000hz.github.io/bootstrap-validator/#validator-events
//-----------------------------------------------------------------

form[data-toggle="validator"] .error {
	display: none;
	width: 100%;
	padding: rem-calc(5 10);
	background: $brand-danger;
	color: white;
}

form[data-toggle="validator"] .has-error > .form-control {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

form[data-toggle="validator"] .has-error > .error {
	display: block;
}

//-----------------------------------------------------------------
// Need to find why the styling is off
//-----------------------------------------------------------------

.alert-success {
	h1, h2, h3, h4, h5, h6 {
		color: $brand-success !important;
	}
}

.alert-danger {
	h1, h2, h3, h4, h5, h6 {
		color: $brand-danger !important;
	}
}

//=========================================
//
//=========================================