/*
    HERO.CSS

    - updated: 18.11.16
    - notes:
        * liquidvisual recommends bxSlider for hero carousels
        * fixed overflow problem when removing JS
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$hero-height-sm:            auto          !default; // IMPORTANT: if carousel slides, you need a fixed height
$hero-height-md:            auto          !default;
$hero-height-lg:            auto          !default;
$hero-carousel-bullet-size: rem-calc(16)  !default;

//-----------------------------------------------------------------
// Hero Wrapper
//
// Used to align the controls relative to the container
//-----------------------------------------------------------------

.lv-hero-wrapper {
    position: relative;
}

//-----------------------------------------------------------------
// Hero
//
// By design, mobile defaults to 'auto'
//-----------------------------------------------------------------

.lv-hero {
    width: 100%; // added last minute - breaking?
    overflow: hidden; // causes problems without JS
    height: $hero-height-sm;

    @include media-breakpoint-up(md) {
        height: $hero-height-md;
    }

    @include media-breakpoint-up(lg) {
       height: $hero-height-lg;
    }

    //=========================================
    // Has Auto Height
    //
    // * Will override above at all sizes
    // * Height determined by inner caption
    //=========================================

    &.has-auto-height {
        height: auto;
    }
    //=========================================
    // Has Fixed Height
    //
    // * Used on internal pages to set a height
    //=========================================

    &.has-fixed-height {
        // height: rem-calc(150); //$hero-height-sm;
        // background-position: center center;

        @include media-breakpoint-up(md) { // added - refactor
           // height: rem-calc(300);
        }

        @include media-breakpoint-up(xl) {
           // height: rem-calc(694);
        }
    }
}

//-----------------------------------------------------------------
// Hero Item (Slides)
//-----------------------------------------------------------------

.lv-hero-item {
    float: left;
    width: 100%; // need
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    //=========================================
    // For Positioning Captions
    //=========================================

    .lv-hero-item-table {
        display: table;
        width: 100%;
        height: 100%;
        position: relative;

        .lv-hero-item-cell {
            display: table-cell;

            @include media-breakpoint-up(md) {
                vertical-align: middle;
            }
        }
    }
}

//-----------------------------------------------------------------
// Hero - Caption
//-----------------------------------------------------------------

.lv-hero-item-caption {
    position: relative;
    color: white;
    padding-top: calc(#{rem-calc(110)} + #{$header-height-sm});
    z-index: 1;

    h1, h2, h3, h4, h5, h6, .lead, p {
        color: white;
    }

    p {
        font-family: $font-family-sans-serif;
        font-weight: normal;
    }

    @include media-breakpoint-up(md) {
        padding-top: calc(#{rem-calc(100)} + #{$header-height-lg});
        padding-bottom: rem-calc(110);
    }

    @include media-breakpoint-up(lg) {
        padding-top: calc(#{rem-calc(100)} + #{rem-calc(210)});
        padding-bottom: rem-calc(30);
    }

    @include media-breakpoint-up(xl) {
        padding-top: calc(#{rem-calc(190)} + #{$header-height-lg});
        padding-bottom: rem-calc(120);
    }
}

.lv-hero-caption-feature {
    @include media-breakpoint-up(xl) {
        padding-left: $spacer-x*3;
    }
}

.lv-hero-caption-feature-case {
    position: relative;
    padding: rem-calc(30);
    padding-bottom: calc(#{$spacer-x*2} - 14px);
    background: rgba(black, 0.5);

    @include media-breakpoint-down(sm) {
        left: -24px;
        width: calc(100% + 24px*2);
        background: rgba(black, 0.6);
    }
}

//-----------------------------------------------------------------
// Hero - Carousel Controls
//-----------------------------------------------------------------

.lv-hero-carousel-controls {
    position: absolute;
    top: 44%;
    width: 100%;
    height: 0;
    z-index: 100;

    .container {
        position: relative;
    }

    //=========================================
    // Buttons
    //=========================================

    .lv-hero-carousel-prev-btn,
    .lv-hero-carousel-next-btn {
        position: absolute;
        width: rem-calc(50);
        height: rem-calc(50);
        line-height: rem-calc(50);
        cursor: pointer;
        text-align: center;
        font-family: "FontAwesome";
        font-size: rem-calc(50);
        display: none;

        @include media-breakpoint-up(md) {
            display: block;
        }

        a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: inline-block;
        }
    }

    .lv-hero-carousel-prev-btn {
        left: $container-gutter/2;
    }

    .lv-hero-carousel-next-btn {
        right: $container-gutter/2;
    }
}