
/*
    LISTS.CSS

    - Last updated: 16.10.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
// LISTS
//--------------------------------------------------------------------

.list-partners {
	img {
		@include media-breakpoint-down(xl) {
		    width: 100%;
		}
	}
}

.list-block {
	list-style: none;
	padding: 0;

	&.is-condensed li {
		padding: rem-calc(20 0);
	}

	li {
		border-top: 1px solid #e7e7e7;
		padding: rem-calc(30 0);
	}
}

//-----------------------------------------------------------------
// USED ON BLOCK GRIDS
//-----------------------------------------------------------------

.list-condensed {
	li {
		padding-bottom: 0;

		@include media-breakpoint-up(lg) {
		    padding-top: rem-calc(5);
		    padding-bottom: rem-calc(5);
		}
	}
}

.lv-page .block-grid-condensed {
	margin: -10px;
	li {
		padding: 10px;
	}
}

.lv-page .block-grid-condensed-max { // used for hero buttons
	margin: -5px;
	margin-bottom: 5px;

	li {
		padding: 5px;
	}
}

.lv-page .is-gapless { // used for hero buttons
	margin: -0px;
	margin-bottom: 0px;

	li {
		padding: 0px;
	}
}

.lv-page .has-wide-gutters { // used for hero buttons
	@include media-breakpoint-up(md) {
	    margin: -30px;
	    margin-bottom: 30px;

	    li {
	    	padding: 30px;
	    }
	}

}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================