/*
    LISTS.CSS

    - Last updated: 16.10.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
// LISTS
//--------------------------------------------------------------------

.list-partners {
	img {
		@include media-breakpoint-down(xl) {
		    width: 100%;
		}
	}
}

.list-block {
	list-style: none;
	padding: 0;

	&.is-condensed li {
		padding: rem-calc(20 0);
	}

	li {
		border-top: 1px solid #e7e7e7;
		padding: rem-calc(30 0);
	}
}

//-----------------------------------------------------------------
// USED ON BLOCK GRIDS
//-----------------------------------------------------------------

.list-condensed {
	li {
		padding-bottom: 0;

		@include media-breakpoint-up(lg) {
		    padding-top: rem-calc(5);
		    padding-bottom: rem-calc(5);
		}
	}
}

.block-grid-condensed {
	margin: -10px;
	li {
		padding: 10px;
	}
}

.block-grid-condensed-max { // used for hero buttons
	margin: -5px;
	margin-bottom: 5px;

	li {
		padding: 5px;
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================