/*
    LOADER.CSS

    - Last updated: 05.08.17
    - https://codepen.io/114000/pen/kXwWjw
    - Notes: only one that works in IE11 and Edge
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// LOADER
//-----------------------------------------------------------------

.lv-page-loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $quinary; //white;
    z-index: 2147483647;
    opacity: 1;


    visibility: hidden;

    &.force-finish {
        animation: page-loader-fadeout 1s ease 0s alternate 1 forwards;
    }
}

html.has-loaded .lv-page-loader {
    animation: page-loader-fadeout 0.8s ease 0.1s alternate 1 forwards;
}

//-----------------------------------------------------------------
// DEV LOADER TURNED OFF FOR SPEED
//-----------------------------------------------------------------

html[development] .lv-page-loader {
    visibility: hidden;
}

//-----------------------------------------------------------------
// DISAPPEAR AFTER DELAY
//-----------------------------------------------------------------

@keyframes page-loader-fadeout {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        visibility: hidden;
    }
}

//-----------------------------------------------------------------
// SPINNER
//-----------------------------------------------------------------

.lv-page-loader-spinner {
    // position: relative;
    width: rem-calc(60);
    height: rem-calc(60);
    margin: auto;
    font-size: 20px;
    color: $primary;
    animation: container-rotate 1568ms linear infinite;
}

//-----------------------------------------------------------------
// ANIMATED ELEMENTS
//-----------------------------------------------------------------

.loader-spinner {
    height: 100%;
    animation: spinner-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.loader-component {
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.loader-component:last-child {
    transform: rotateY(180deg) translateX(1px);
}

.lv-page-loader-spinner .half-circle {
    width: 200%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    border: .2em solid white;
    border-bottom-color: transparent;
    border-right-color: transparent;
    animation: half-rotate 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

//-----------------------------------------------------------------
// KEYFRAMES
//-----------------------------------------------------------------

@keyframes container-rotate {
    100% { transform: rotateZ(360deg); }
}

@keyframes spinner-rotate {
    12.5% { transform: rotate(135deg); }
    25%   { transform: rotate(270deg); }
    37.5% { transform: rotate(405deg); }
    50%   { transform: rotate(540deg); }
    62.5% { transform: rotate(675deg); }
    75%   { transform: rotate(810deg); }
    87.5% { transform: rotate(945deg); }
    100%  { transform: rotate(1080deg); }
}

@keyframes half-rotate {
    0% { transform: rotateZ(130deg); }
    50% { transform: rotateZ(-5deg); }
    100% { transform: rotateZ(130deg); }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------