/*
    LOADER.CSS

    - Last updated: 11.05.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// LOADER
//-----------------------------------------------------------------

.lv-page-loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 2147483647;
    opacity: 1;

    &.force-finish {
        animation: page-loader-fadeout 1s ease 0s alternate 1 forwards;
    }
}

html.has-loaded .lv-page-loader {
    animation: page-loader-fadeout 1s ease 0.1s alternate 1 forwards;
}

//-----------------------------------------------------------------
// DEV LOADER TURNED OFF FOR SPEED
//-----------------------------------------------------------------

html[data-dev-mode] .lv-page-loader {
    visibility: hidden;
}

//-----------------------------------------------------------------
// DISAPPEAR AFTER DELAY
//-----------------------------------------------------------------

@keyframes page-loader-fadeout {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        visibility: hidden;
    }
}

//-----------------------------------------------------------------
// SPINNER
//-----------------------------------------------------------------

.lv-page-loader-spinner {
    position: relative;
    width: 60px;
    height: 60px;
    margin: auto;
}

//-----------------------------------------------------------------
// ANIMATED ELEMENTS
//-----------------------------------------------------------------

.double-bounce-1,
.double-bounce-2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader-bounce 2.0s infinite ease-in-out;
}

.double-bounce-2 {
    animation-delay: -1.0s;
}

@keyframes loader-bounce {
    0%, 100% {
        transform: scale(0.0);
    } 50% {
        transform: scale(1.0);
    }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------