/*
    MEDIA.CSS

    - Last updated: 20.10.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
// MEDIA
//--------------------------------------------------------------------

.media {
	h1, h2, h3, h4, h5, h6 {
		color: $brand-quinary;
	}

	date {
		display: block;
		color: #b2b2b2;
		font-weight: bold;
		margin-bottom: rem-calc(10);
	}

	p {
		color: $body-color;
	}

	p .anchor,
	.anchor {
		color: $brand-primary;
		font-weight: bold;
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================