/*
    OFF-CANVAS.CSS

    - Last updated: 28.03.19, 04.03.19, 16.04.18
    - liquidvisual.com

	- slightly improved from Swellnet, (workskil)
	- empty hrefs act as whole link
    - latest update removes 'off-canvas' effect and transforms.
      Runs jankier, but will handle deep menus
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

$body-bg: white !default;
$menu-bg-color: darken($quinary, 5%); //darken(#3e3e4b, 15%);

$menu-width-xs: 267px;
$menu-width-sm: 320px; // NEW
$menu-width-md: 350px;

$hamburger-width: 28px;
$hamburger-height: $hamburger-width - $hamburger-width/5;
$hamburger-slit-height: 3px;

//-----------------------------------------------------------------
// OFF CANVAS
//-----------------------------------------------------------------

.lv-off-canvas {
	position: fixed;
	top: -200%; // fix chrome on touch scroll
	right: -10%; //-$menu-width-xs;
	background: $menu-bg-color;
	width: $menu-width-xs;
	height: 100%;
	transition: opacity ease 230ms, right cubic-bezier(0.250, 0.460, 0.450, 0.940) 230ms;
	will-change: right;
	z-index: 9999;

	@include media-breakpoint-up(sm) {
	    width: $menu-width-sm;
	}

	@include media-breakpoint-up(md) {
	    width: $menu-width-md; // [required]
	}
}

//-----------------------------------------------------------------
// ULS
//-----------------------------------------------------------------

.lv-off-canvas ul {
	list-style: none;
	height: 100%;
	padding: 0 0 50px 0;
	margin: 0;
	font-size: rem-calc(16);
	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	&:first-child {
		padding-top: 10px;
	}
}

//-----------------------------------------------------------------
// DROPDOWNS
//-----------------------------------------------------------------

.lv-off-canvas .dropdown {
	position: fixed;
	top: 0;
	right: -90%;
	color: rgba(white, 0.4);
	// color: white;
	// color: #686868;
	width: $menu-width-xs; // [required]
	height: 100%;
	background: $menu-bg-color;
	// transform: translateX(100%);
	// transition: transform 300ms ease;
	transition: right cubic-bezier(0.250, 0.460, 0.450, 0.940) 300ms;
	z-index: 10000;

	@include media-breakpoint-up(sm) {
	    width: $menu-width-sm;
	}

	@include media-breakpoint-up(md) {
	    width: $menu-width-md; // [required]
	}

	//=========================================
	// EXPANDER TRIGGER
	//=========================================

	// &::before,
	// &::after {
	// 	content: "\f104";
	// 	display: block;
	// 	position: absolute;
	// 	top: -9px;
	// 	width: auto;
	// 	padding: 26px 20px 15px 20px;
	// 	font-family: "FontAwesome";
	// 	font-size: 25px;
	// 	text-transform: uppercase;
	// }

	//=========================================
	// BACK TO PREV MENU
	//=========================================

	// &::before {
	// 	content: attr(data-parent);
	// 	position: -webkit-sticky;
	// 	position: sticky; //- glitchy - is useless
	// 	top: 0;
	// 	// position: static;
	// 	padding-left: 40px;
	// 	background: darken($menu-bg-color, 5%);
	// 	font-family: inherit;
	// 	font-size: inherit;
	// 	z-index: 2;
	// 	// opacity: 0.2;
	// }

	// &:after {
	// 	content: "";
	// 	position: absolute;
	// 	top: 0;
	// 	width: 100%;
	// 	height: 62px; // magic
	// 	background: rgba(darken($menu-bg-color, 5%), 0.6);
	// 	z-index: 1000;
	// }

	//=========================================
	// BACK BUTTON
	// http://fatopng.com/fontawesome-to-base64
	//=========================================

	&:before {
		content: attr(data-parent);
		display: block;
		position: -webkit-sticky;
		position: sticky; //- glitchy - is useless
		top: 0;
		padding: 26px 20px 15px 40px;
		background: darken($menu-bg-color, 5%) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABaCAYAAAA4qEECAAACiUlEQVR4nO3cT2oUQRSA8S8iIh4gRxCPIIIwIrhR8Aziwi7EY7jxAtVkYXCZXSK4cWXAE4grjyDiUtzFhWnIOCZM91Cv3r9vOfTA40d1MV0DvXfGGVn7rvUeIEoJLVRCC5XQQiW0UAktVEILldBCJbRQCS3U9d4DtK4MZR94B9wD3gMv6lh/Sc+x5/ms4xz5FLhz4eNPwGNpbLdbxyXIACvgQxnKLcl5XEJfgTy1QhjbHfQWyFMroDYf6DxX0DOQp540HGctN9ALkAE+NxpnIxfQC5G/AM/aTLSZeegdkB/Wsf5sM9VmpqF3RP7RZqr/ZxbaEjIYhbaGDAahLSKDsbOOhchfgQc9kcHQiraMDEagrSODAWgPyKAc2gsyKIb2hAxKob0hg0Joj8igDNorMiiC9owMSqC9I4MC6AjI0Bk6CjJ0hI6EDJ2goyFDB+iIyCAMHRUZBKEjI4MQdHRkkFvRhwRGBjnouzOvf+UJGeSgj2def1SGMucOUJ8U9Evg44zr94FTT9gi0HWsv4GnBMYW+3kXHVv0gSUytvgjeFTsLodKEbG7HZNGw+568B8Ju/tfWVGwu0NDDGwV0OAfWw00+MZWBQ1+sdVBg09sldDgD1stNPjCVg0NfrDVQ4MPbBPQYB/bDDTYxjYFDXaxzUGDTWyT0GAP2yw02MI29XaDyypDuQmcAI9mfO07cL+O9VubqdYzvaKndljZh20m2swFNCzGvt1onI3cQMMi7IOG46zlYo/+ty337Ld1rM+FRvK1oqe2WNmiyOAUGq7EFkcGp1vHxcpQbgCv+ftG9JM61jc95nAPrSW3W4e2ElqohBYqoYVKaKESWqiEFiqhhUpooRJaqIQW6g/MUoF549GZugAAAABJRU5ErkJggg==) no-repeat 15px 27px;
		background-size: 18px;
		// font-size: 16px; // [LOCKED]
		text-transform: uppercase;
		z-index: 1000;
	}
}

//-----------------------------------------------------------------
// NO SCROLLBARS
//-----------------------------------------------------------------

.lv-off-canvas .dropdown::-webkit-scrollbar,
.lv-off-canvas ul::-webkit-scrollbar {
	display: none;
}

//-----------------------------------------------------------------
// LISTS
//-----------------------------------------------------------------

.lv-off-canvas ul {

	li {
		border-bottom: 1px solid rgba(white, 0.1);
		margin-left: 20px;
	}

	// li.active > a {
		// color: $primary;
	// }

	//=========================================
	// LIST SPECIAL
	//=========================================

	li.is-special {
		border: 0;

		ul {
			position: static;
			padding: 0;

			li {
				margin-left: 0;
				border: 0;
			}
		}
	}

	//=========================================
	// NEXT ARROW .has-dropdown > a > .text::after
	//=========================================

	.has-dropdown > a > .submenu-arrow {
		content: "\f105";
		position: absolute;
		top: 0;
		right: 0;
		width: 44px;
		height: 100%;
		border-left: 1px solid rgba(white, 0.1);
		// background: $menu-bg-color;
		font-family: "FontAwesome";
		font-size: 25px;
		font-weight: normal;
		color: rgba(white, 0.4);
		text-align: center;
		cursor: pointer;
	}

	.has-dropdown > a[href=''] > .submenu-arrow {
		left: -21px;// fix border glitch
		width: calc(100% + 20px);
		padding-right: 18px;
		text-align: right;
		// background: aqua;
	}
}

//-----------------------------------------------------------------
// ANCHORS
//-----------------------------------------------------------------

.lv-off-canvas a {
	position: relative;
	display: block;
	color: white;
	padding: 0 40px 0 0;
	height: 44px;
	line-height: 44px;

	//=========================================
	// TRUNCATE TEXT
	//=========================================

	.text {
		display: inline-block;
		width: 95%;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}

//*****************************************************************
// HAS OPEN MENU - STATE
//*****************************************************************

.has-open-menu {
	overflow: hidden; // [LOCK HTML SCROLL]

	.lv-off-canvas,
	.lv-off-canvas .dropdown.is-open {
		// transform: translateX(0);
		top: 0;
		right: 0;
		opacity: 1;
	}
}

//-----------------------------------------------------------------
// HAMBURGER TRIGGER
//-----------------------------------------------------------------

// .lv-hamburger {
// 	position: relative;
// 	width: $hamburger-width;
// 	height: $hamburger-height;
// 	cursor: pointer;
// 	// background: aqua;

// 	.lv-hamburger-top,
// 	.lv-hamburger-middle,
// 	.lv-hamburger-bottom {
// 		position: absolute;
// 		left: 0;
// 		width: 100%;
// 		height: $hamburger-slit-height;
// 		background-color: #222;
// 	}

// 	.lv-hamburger-middle {
// 		top: calc(50% - #{$hamburger-slit-height}/2);
// 	}

// 	.lv-hamburger-bottom {
// 		bottom: 0;
// 	}
// }

//=========================================
// HAS MENU OPEN - STATE
//=========================================

// .has-open-menu {
// 	.lv-hamburger-top,
// 	.lv-hamburger-middle,
// 	.lv-hamburger-bottom {
// 		transition: transform ease 300ms 300ms;
// 	}

// 	.lv-hamburger-top {
// 		transform: rotate(45deg);
// 		top: calc(50% - #{$hamburger-slit-height/2});
// 	}

// 	.lv-hamburger-bottom {
// 		transform: rotate(-45deg);
// 		top: calc(50% - #{$hamburger-slit-height/2});
// 	}

// 	.lv-hamburger-middle {
// 		background: rgba(black, 0.8) !important; // [LOCKED] - override theming
// 		position: fixed;
// 		top: 0;
// 		left: -20px;
// 		width: 100%;
// 		height: 130vh; // savior
// 		z-index: 1;
// 	}
// }

//-----------------------------------------------------------------
// CONTEXT
//-----------------------------------------------------------------

.lv-off-canvas .is-nav-only {
	display: none; // to hide 'Home' from appearing twice. Remove if client changes this.
}

.is-off-canvas-only {
    display: none;
}

.lv-off-canvas .is-off-canvas-only {
    display: block;
    border: 0;
}