/*
    SEARCH-BAR.CSS

    - Last updated: 30.11.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
// SEARCH BAR
//--------------------------------------------------------------------

.search-bar {
	background: $brand-primary;
	color: white;
	padding: 15px 0;

	a {
		color: white;
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================