/*
    SEARCH.CSS

    - Last updated: 09.07.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

.global-search {
    display: none; // [DEFAULT]
}

//-----------------------------------------------------------------
// SEARCH OVERLAY -- ACTIVE
//-----------------------------------------------------------------

.global-search.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: rem-calc(150);
    // background: rgba(black, 0.7);
    background: rgba(white, 0.95);
    opacity: 1;
    z-index: 9999;
    // transition: opacity ease 300ms;

    ::-webkit-input-placeholder { color: #bfc2c4 !important; font-weight: 400 !important; }
    ::-moz-placeholder { color: #bfc2c4 !important; font-weight: 400 !important; }
    :-ms-input-placeholder { color: #bfc2c4 !important; font-weight: 400 !important; }
    :-moz-placeholder { color: #bfc2c4 !important; font-weight: 400 !important; }
    :-ms-input-placeholder { color: black !important; line-height: 1; font-weight: 400 !important; }

    animation: fadeIn 200ms ease 0s alternate 1 forwards;

    @keyframes fadeIn {
        from {
            opacity: 0;
        } to {
            opacity: 1;
        }
    }

    .container {
        max-width: rem-calc(760);
    }

    input {
        display: inline-block;
        padding-left: 0;
        border: 0;
        border-bottom: 3px solid $primary;
        border-radius: 0;
        box-shadow: none;
        background: none;
        font-size: rem-calc(70);
        line-height: inherit;
        // padding: 0;
        // box-sizing: border-box;
        // font-family: Georgia;
        // font-weight: 200;
    }

    .btn[type="submit"] {
        display: none;
    }

    .global-search-form {
        transform: scale(1);
    }

    .global-search-info {
        position: absolute;
        bottom: rem-calc(-35);
        right: 0;
        font-size: rem-calc(15);
        color: $primary;

        // &:after {
        //     display: inline-block;
        //     position: absolute;
        //     left: 0;
        //     top: 0;

        //     content: "⚲";
        //     color: #bfc2c4;
        //     font-size: 6vw;
        //     transform: rotate(45deg);
        // }
    }

    .btn-close {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: rem-calc(30);
        line-height: 1;
        background: none;
        color: #a4a9ac;
        transition: none;

        .text {
            display: block;
            margin: 2px 0 0 4px;
            // margin-top: 2px;
            font-family: Arial;
            font-size: rem-calc(11);
            font-weight: 600;
        }

        &:hover {
            color: darken(#a4a9ac, 5%);
        }
    }
}

//-----------------------------------------------------------------
// GLOBAL SEARCH (CONTEXT)
//-----------------------------------------------------------------

.lv-off-canvas .global-search:not(.active) {
    display: block;

    .container {
        padding: 0; // [RESET]
        padding-right: rem-calc(20);
    }

    input {
        border: 0;
        // background: #4a4a4a;
        background: rgba(white, 0.22);
        // background: rgba(black, 0.15);
        color: white;
        font-size: 15px;
    }

    ::-webkit-input-placeholder { color: white !important; }
    ::-moz-placeholder { color: white !important; }
    :-ms-input-placeholder { color: white !important; }
    input:-moz-placeholder { color: white !important; }

    .global-search-form {
        transform: none !important;
    }

    .btn {
        background: rgba(white, 0.22);
        // background: rgba(black, 0.15);
        color: white;
    }

    .global-search-info,
    .btn-close {
        display: none;
    }
}

//=========================================
//
//=========================================