/*
    TYPE.CSS

    - Last updated: 16.10.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
// TYPE
//--------------------------------------------------------------------

html {
  @include media-breakpoint-down(xs) { font-size: $font-size-xs; }
  // @include media-breakpoint-up(md) { font-size: $font-size-lg; }
}

//-----------------------------------------------------------------
// ANCHORS
//-----------------------------------------------------------------

a {
	transition: color ease 300ms, background-color ease 300ms;
}

//-----------------------------------------------------------------
// PARAGRAPHS
//-----------------------------------------------------------------

p, ul, ol {
	@include media-breakpoint-up(lg) {
	    font-size: $font-size-lg;
	}
}

//-----------------------------------------------------------------
// SPACER
//-----------------------------------------------------------------

.spacer {
	width: 1px;
	height: 1px;
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================