/*
    TYPE.CSS

    - Last updated: 16.10.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
// TYPE
//--------------------------------------------------------------------

html {
	@include media-breakpoint-down(lg) { font-size: 14px; } // LG
	@include media-breakpoint-down(md) { font-size: 14px; } // MD
	@include media-breakpoint-down(sm) { font-size: $font-size-xs; } // XS
}

h1, h2, h3, h4, h5, h6 {
	color: $brand-quinary;
}

.lead {
	// line-height: 1.2;
}

.icon-header {
	display: table;

	i,
	.text {
		display: table-cell;
	}

	i {
		padding-right: rem-calc(15);
	}
}

//-----------------------------------------------------------------
// ANCHORS
//-----------------------------------------------------------------

a {
	transition: color ease 300ms, background-color ease 300ms;
}

//-----------------------------------------------------------------
// PARAGRAPHS
//-----------------------------------------------------------------

p, ul, ol {
	@include media-breakpoint-up(lg) {
	    font-size: $font-size-lg;
	}
}

.lead {
	font-family: "Montserrat";
	color: $brand-quinary;
}

//-----------------------------------------------------------------
// SPACER
//-----------------------------------------------------------------

.spacer {
	width: 1px;
	height: 1px;
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

h3 .fa {
	position: relative;
	top: -3px;
	background: rgba(white, 0.5);
	width: 35px;
	height: 35px;
	border-radius: 100%;
	text-align: center;
	line-height: 35px;
	font-size: rem-calc(20);
	color: $brand-secondary; // this will need to change
}
//=========================================
//
//=========================================