/*
    TYPE.CSS

    - Last updated: 21.03.19, 16.10.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
// TYPE
//--------------------------------------------------------------------

// PHASE OUT
// html {
// 	@include media-breakpoint-down(lg) { font-size: 15px; } // LG
// 	@include media-breakpoint-down(md) { font-size: 15px; } // MD
// 	@include media-breakpoint-down(sm) { font-size: $font-size-xs; } // XS
// }

html {
    @include media-breakpoint-down(lg) { font-size: rem-calc(14); }
}

//-----------------------------------------------------------------
// ICON HEADER - to do with the news on homepage
//-----------------------------------------------------------------

.icon-header {
	display: table;

	i,
	.text {
		display: table-cell;
	}

	i {
		padding-right: rem-calc(15);
	}
}

//-----------------------------------------------------------------
// HR
//-----------------------------------------------------------------

hr {
	border-color: #f1f1f1;
}

//-----------------------------------------------------------------
// ANCHORS
//-----------------------------------------------------------------

a, button {
	transition: color ease 150ms,
				background-color ease 150ms,
				opacity ease 150ms;
	// word-break: break-word; // handles long links in safari
	// outline: none !important;
}

//-----------------------------------------------------------------
// PARAGRAPHS
//-----------------------------------------------------------------

p, ul, ol, td {
	@include media-breakpoint-up(lg) {
	    font-size: $font-size-lg; // 15
	}
}

//-----------------------------------------------------------------
// LEAD
//-----------------------------------------------------------------

// p.lead { -- hall payne
//     @include media-breakpoint-down(sm) {
//         font-size: rem-calc(17); // [LOCKED] - curated
//     }
// }

//-----------------------------------------------------------------
// H3 ICON
//-----------------------------------------------------------------

h3 .fa {
	position: relative;
	top: -3px;
	background: rgba(white, 0.5);
	width: 35px;
	height: 35px;
	border-radius: 100%;
	text-align: center;
	line-height: 35px;
	font-size: rem-calc(20);
	color: $secondary; // this will need to change
}

//-----------------------------------------------------------------
// HEADINGS
//-----------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
	color: $quinary;
}

//-----------------------------------------------------------------
// HEADINGS MOBILE
//-----------------------------------------------------------------

@include media-breakpoint-down(sm) {
    h1, .h1 { font-size: calc(#{$h1-font-size} - 64%); }
    h2, .h2 { font-size: calc(#{$h2-font-size} - 40%); }
    h3, .h3 { font-size: calc(#{$h3-font-size} - 20%); }
    h4, .h4 { font-size: calc(#{$h4-font-size} - 24%); }
    h5, .h5 { font-size: calc(#{$h5-font-size} - 15%); }
    // h6, .h6 { font-size: calc(#{$h6-font-size} - 2%); }
}

@include media-breakpoint-down(md) {
    .display-1 { font-size: calc(#{$display1-size} - 64%); }
    .display-2 { font-size: calc(#{$display2-size} - 50%); }
    .display-3 { font-size: calc(#{$display3-size} - 40%); }
    .display-4 { font-size: calc(#{$display4-size} - 100%); }
}

//-----------------------------------------------------------------
// UTILITIES
//-----------------------------------------------------------------

.spacer {
    width: 1px;
    height: 1px;
}

//=========================================
//
//=========================================