<style>
.has-children {
    background: #DDE3EC;
    padding: 15px;
    border-radius: 4px;
    /*border: 1px solid red;*/
    overflow: hidden;
    position: relative;
}
</style>
<h2>Settings</h2>
<br>
<p>The following properties are accessible via <code>site.data.settings</code></p>
<br>
<form style="max-width: 600px">

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for=setting class="col-sm-4 form-control-label">Cname</label>
            <div class=col-sm-8>

                <!-- Print Value as Normal -->
                <input type=text class=form-control id=setting placeholder="" value=workskil.yourwebvisual.com>
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for=setting class="col-sm-4 form-control-label">Title</label>
            <div class=col-sm-8>

                <!-- Print Value as Normal -->
                <input type=text class=form-control id=setting placeholder="" value="Workskil Australia">
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for=setting class="col-sm-4 form-control-label">Seo title</label>
            <div class=col-sm-8>

                <!-- Print Value as Normal -->
                <input type=text class=form-control id=setting placeholder="" value="Workskil Australia">
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for=setting class="col-sm-4 form-control-label">Company</label>
            <div class=col-sm-8>

                <!-- Print Value as Normal -->
                <input type=text class=form-control id=setting placeholder="" value="Workskil Australia">
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for=setting class="col-sm-4 form-control-label">Description</label>
            <div class=col-sm-8>

                <!-- Print Value as Normal -->
                <input type=text class=form-control id=setting placeholder="" value="">
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for=setting class="col-sm-4 form-control-label">Site tagline</label>
            <div class=col-sm-8>

                <!-- Print Value as Normal -->
                <input type=text class=form-control id=setting placeholder="" value="">
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for=setting class="col-sm-4 form-control-label">Allow robots</label>
            <div class=col-sm-8>

                <!-- Print Value as Normal -->
                <input type=text class=form-control id=setting placeholder="" value=false>
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for=setting class="col-sm-4 form-control-label">Github repo owner</label>
            <div class=col-sm-8>

                <!-- Print Value as Normal -->
                <input type=text class=form-control id=setting placeholder="" value=liquidvisual>
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for=setting class="col-sm-4 form-control-label">Github repo path</label>
            <div class=col-sm-8>

                <!-- Print Value as Normal -->
                <input type=text class=form-control id=setting placeholder="" value=https://github.com/liquidvisual/wrksl-1116>
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for=setting class="col-sm-4 form-control-label">Github repo name</label>
            <div class=col-sm-8>

                <!-- Print Value as Normal -->
                <input type=text class=form-control id=setting placeholder="" value="">
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for=setting class="col-sm-4 form-control-label">Jekyll version</label>
            <div class=col-sm-8>

                <!-- Print Value as Normal -->
                <input type=text class=form-control id=setting placeholder="" value=3.0.3>
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class=has-children>
        <div class="form-group row">
            <label for=setting class="col-sm-4 form-control-label">Offices</label>
            <div class=col-sm-8>
                <a href=#>Expand
                    <i class="fa fa-caret-down"></i>
                </a>
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --><div class="form-group row">
            <label for=inputPassword class="col-sm-4 form-control-label">Title</label>
            <div class=col-sm-8>
                <input type=text class=form-control id=inputPassword placeholder=text value="Head Office">
            </div>
        </div>
        <div class="form-group row">
            <label for=inputPassword class="col-sm-4 form-control-label">Address</label>
            <div class=col-sm-8>
                <input type=text class=form-control id=inputPassword placeholder=text value="Level 1, 1069 South Road<br>Melrose Park, SA 5039">
            </div>
        </div>
        <div class="form-group row">
            <label for=inputPassword class="col-sm-4 form-control-label">Phone</label>
            <div class=col-sm-8>
                <input type=text class=form-control id=inputPassword placeholder=text value="1300 967 575">
            </div>
        </div>
        <div class="form-group row">
            <label for=inputPassword class="col-sm-4 form-control-label">Email</label>
            <div class=col-sm-8>
                <input type=text class=form-control id=inputPassword placeholder=text value=workskil@workskil.com.au>
            </div>
        </div>
        <div class="form-group row">
            <label for=inputPassword class="col-sm-4 form-control-label">Fax</label>
            <div class=col-sm-8>
                <input type=text class=form-control id=inputPassword placeholder=text value="08 7088 8099">
            </div>
        </div>
        <div class="form-group row">
            <label for=inputPassword class="col-sm-4 form-control-label">Po box</label>
            <div class=col-sm-8>
                <input type=text class=form-control id=inputPassword placeholder=text value="PO Box 433<br>Melrose Park, SA 5039">
            </div>
        </div>
    </section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for=setting class="col-sm-4 form-control-label">Facebook</label>
            <div class=col-sm-8>

                <!-- Print Value as Normal -->
                <input type=text class=form-control id=setting placeholder="" value=https://www.facebook.com/workskil>
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for=setting class="col-sm-4 form-control-label">Twitter</label>
            <div class=col-sm-8>

                <!-- Print Value as Normal -->
                <input type=text class=form-control id=setting placeholder="" value=https://twitter.com/workskil_aus>
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for=setting class="col-sm-4 form-control-label">Linked in</label>
            <div class=col-sm-8>

                <!-- Print Value as Normal -->
                <input type=text class=form-control id=setting placeholder="" value=https://www.linkedin.com/company/workskil-incorporated>
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for=setting class="col-sm-4 form-control-label">Google analytics</label>
            <div class=col-sm-8>

                <!-- Print Value as Normal -->
                <input type=text class=form-control id=setting placeholder="" value=UA-XXXXXXXX-X>
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for=setting class="col-sm-4 form-control-label">Google map</label>
            <div class=col-sm-8>

                <!-- Print Value as Normal -->
                <input type=text class=form-control id=setting placeholder="" value="">
            </div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>

    <!-- Second Level -->
    <section class="">
        <div class="form-group row">
            <label for=setting class="col-sm-4 form-control-label">Author</label>
            <div class=col-sm-8>

                <!-- Print Value as Normal -->
                <input type=text class=form-control id=setting placeholder="" value={ title>"Much Media", "url"=>"http://muchmedia.com.au", "logo"=>"/assets/img/ui/much-media-logo.svg", "description"=>"Website by Much Media"}"></div>
        </div>

        <!-- /.row -->
        
<!-- Show Expanded Underneath --></section>
</form>