
<!-- http://stackoverflow.com/questions/13491657/javascript-library-to-convert-web-page-to-pdf --><h2>Sitemap</h2>
<br>
<a class="btn btn-secondary" href=# role=button>
    <i class="fa fa-print"></i> Print</a>
<a class="btn btn-secondary" href=# role=button>
    <i class="fa fa-download"></i> Download PDF</a>
<div class=sitemap>
    <ul id=utilityNav></ul>
    <br>
    <br>
    <br>
    <br>
    <ul id=primaryNav class="">
        <li>
            <a href="#/preview/">
                <small>/</small>
                <br>
                <span class=top-count>1</span> Home</a>
        </li>
        <li>
            <a href="#/preview/employment/">
                <small>/employment/</small>
                <br>
                <span class=top-count>2</span> Employment</a>
            <ul>
                <li>
                    <a href>
                        <small>/employment/</small>
                        <br>Employers</a>
                </li>
                <li>
                    <a href>
                        <small>/employment/</small>
                        <br>jobactive</a>
                </li>
                <li>
                    <a href>
                        <small>/employment/</small>
                        <br>Disability Employment</a>
                </li>
                <li>
                    <a href>
                        <small>/employment/</small>
                        <br>Services</a>
                </li>
                <li>
                    <a href>
                        <small>/employment/</small>
                        <br>Return to Work SA</a>
                </li>
                <li>
                    <a href>
                        <small>/employment/</small>
                        <br>Job Placement</a>
                </li>
                <li>
                    <a href>
                        <small>/employment/</small>
                        <br>Services</a>
                </li>
                <li>
                    <a href>
                        <small>/employment/</small>
                        <br>Work for the Dole</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#/preview/health/">
                <small>/health/</small>
                <br>
                <span class=top-count>3</span> Health</a>
            <ul>
                <li>
                    <a href>
                        <small>/health/</small>
                        <br>Personal Helpers and Mentors</a>
                </li>
                <li>
                    <a href>
                        <small>/health/</small>
                        <br>Partners in Recovery</a>
                </li>
                <li>
                    <a href>
                        <small>/health/</small>
                        <br>Allied Health</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#/preview/youth/">
                <small>/youth/</small>
                <br>
                <span class=top-count>4</span> Youth</a>
            <ul>
                <li>
                    <a href>
                        <small>/youth/</small>
                        <br>ICAN FLO</a>
                </li>
                <li>
                    <a href>
                        <small>/youth/</small>
                        <br>POP</a>
                </li>
                <li>
                    <a href>
                        <small>/youth/</small>
                        <br>Fee for Service Youth</a>
                </li>
                <li>
                    <a href>
                        <small>/youth/</small>
                        <br>Services</a>
                </li>
                <li>
                    <a href>
                        <small>/youth/</small>
                        <br>Green Army</a>
                </li>
                <li>
                    <a href>
                        <small>/youth/</small>
                        <br>Youth Specialist</a>
                </li>
                <li>
                    <a href>
                        <small>/youth/</small>
                        <br>Support</a>
                </li>
                <li>
                    <a href>
                        <small>/youth/</small>
                        <br>Successful Transitions</a>
                </li>
                <li>
                    <a href>
                        <small>/youth/</small>
                        <br>Transition to Work</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#/preview/indigenous/">
                <small>/indigenous/</small>
                <br>
                <span class=top-count>5</span> Indigenous</a>
        </li>
        <li>
            <a href="#/preview/locations/">
                <small>/locations/</small>
                <br>
                <span class=top-count>6</span> Locations</a>
            <ul>
                <li>
                    <a href>
                        <small>/locations/</small>
                        <br>South Australia</a>
                </li>
                <li>
                    <a href>
                        <small>/locations/</small>
                        <br>Victoria</a>
                </li>
                <li>
                    <a href>
                        <small>/locations/</small>
                        <br>New South Wales</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#/preview/about/">
                <small>/about/</small>
                <br>
                <span class=top-count>7</span> About</a>
            <ul>
                <li>
                    <a href>
                        <small>/about/</small>
                        <br>Our Company</a>
                    <ul>
                        <li>
                            <a href>
                                <small>/about/</small>
                                <br>Our Board</a>
                        </li>
                        <li>
                            <a href>
                                <small>/about/</small>
                                <br>Our Executives</a>
                        </li>
                        <li>
                            <a href>
                                <small>/about/</small>
                                <br>Our People</a>
                        </li>
                        <li>
                            <a href>
                                <small>/about/</small>
                                <br>Vision, Mission & Values</a>
                        </li>
                        <li>
                            <a href>
                                <small>/about/</small>
                                <br>Publications</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href>
                        <small>/about/</small>
                        <br>Media</a>
                </li>
                <li>
                    <a href>
                        <small>/about/</small>
                        <br>Careers @ Workskil</a>
                </li>
                <li>
                    <a href>
                        <small>/about/</small>
                        <br>Quality, Safety and Risk</a>
                </li>
                <li>
                    <a href>
                        <small>/about/</small>
                        <br>Our Partners</a>
                </li>
                <li>
                    <a href>
                        <small>/about/</small>
                        <br>Events Calendar</a>
                </li>
                <li>
                    <a href>
                        <small>/about/</small>
                        <br>News</a>
                </li>
                <li>
                    <a href>
                        <small>/about/</small>
                        <br>Success Stories</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#/preview/contact/">
                <small>/contact/</small>
                <br>
                <span class=top-count>8</span> Contact</a>
        </li>
    </ul>
</div>