---
layout: base__page
---

{% assign settings = site.data.settings %}

<div class="container">
	<div class="row">
		<div class="col-lg-6 collapse-p-x-sm-down">
			<aside class="sidebar">

				<div class="sidebar-color-box">
					<h3>Head Office</h3>
					<div class="row">
						<div class="col-md-5">
							<p>{{ settings.offices[0].address }}<br>
							<a class="brand-quinary" href="/locations/">View on map <i class="fa fa-angle-right"></i></a></p>
							<p>{{ settings.offices[0].po_box }}</p>
						</div>
						<div class="col-md-5">
							<p>Phone: <a href="tel:{{ settings.offices[0].phone }}">{{ settings.offices[0].phone }}</a><br>
							Fax: {{ settings.offices[0].fax }}</p>
						</div>
					</div>
				</div>

				<div class="sidebar-location-box sidebar-color-box">
					<h3>Locations</h3>

					<div class="row">
						<div class="col-md-5">
							<p>Search our locations in:</p>
							<p>
								<a class="brand-quinary" href="/locations/#sa">- South Australia</a><br>
								<a class="brand-quinary" href="/locations/#vic">- Victoria</a><br>
								<a class="brand-quinary" href="/locations/#nsw">- New South Wales</a>
							</p>
						</div>
						<div class="col-md-7">
							<img width="100%" src="/assets/img/layout/aus-locations.png" usemap="#aus-map" alt="Australia Map">
							<map name="aus-map" id="aus-map">
							    <area alt="South Australia" title="South Australia" href="/locations/#sa" shape="poly" coords="198,194,350,193,351,373,197,284">
							    <area alt="New South Wales" title="New South Wales" href="/locations/#nsw" shape="poly" coords="354,229,512,231,479,356,354,322">
							    <area alt="Victoria" title="Victoria" href="/locations/#vic" shape="poly" coords="354,325,354,385,468,396,474,358">
							</map>
						</div>
					</div>
				</div>

				<div class="sidebar-info-box sidebar-color-box is-muted">
					<h3 class="m-b-1">Join us on</h3>
					<ul class="block-grid-xs-1 block-grid-md-2 social-media list-condensed">
						<li>
							<a href="{{ settings.facebook }}">
								<span class="display-table-cell">
									<i class="fa fa-facebook"></i>
								</span>
								<span class="display-table-cell">
									<span class="text">Workskil Australia</span>
								</span>
							</a>
						</li>
						<li>
							<a href="{{ settings.facebook }}">
								<span class="display-table-cell">
									<i class="fa fa-facebook"></i>
								</span>
								<span class="display-table-cell">
									<span class="text">Workskil Indigenous</span>
								</span>
							</a>
						</li>
						<li>
							<a href="{{ settings.linked_in }}">
								<span class="display-table-cell">
									<i class="fa fa-linkedin"></i>
								</span>
								<span class="display-table-cell">
									<span class="text">LinkedIn</span>
								</span>
							</a>
						</li>
						<li>
							<a href="{{ settings.twitter }}">
								<span class="display-table-cell">
									<i class="fa fa-twitter"></i>
								</span>
								<span class="display-table-cell">
									<span class="text">Twitter</span>
								</span>
							</a>
						</li>
					</ul>
				</div>
			</aside>
		</div>
		<div class="col-lg-6">
			<h3 class="m-t-3 m-b-2">{{ page.tagline }}</h3>

			{% include form_contact.html %}
		</div>
	</div>
</div>

<div class="spacer m-b-3"></div>