---
layout: base__page--short-header
---

{% assign settings = site.data.settings %}
{% assign news = site.data.placeholder_articles %}

<div class="spacer m-b-3 hidden-sm-down"></div>
<div class="spacer m-b-2 hidden-md-up"></div>

<div class="container">
	<div class="row">
		<div class="col-lg-8 push-lg-4">
			<div class="special-content special-content-extended">

				<h2 class="m-b-2 special-header-green">Upcoming Events</h2>

				{% capture events_list %}
					{% for item in news | limit: 2 %}
						<a href="/about/events-calendar/events-calendar-item/">
							<article class="media p-y-1">
								<div class="row">
									<div class="col-md-3">
										<img class="hidden-sm-down" width="100%" src="/assets/img/ui/placeholder.png" alt="...">
									</div>
									<div class="col-md-9">
										<h3 class="h4">{{ item.title }}</h3>
										<date>{{ item.date }}</date>
										<p class="m-b-0">{{ item.body | truncate: 450 }} <span class="anchor">Read More <i class="fa fa-angle-right"></i></span></p>
									</div>
								</div>
							</article>
						</a>
						{% unless forloop.last %}
						<hr>
						{% endunless %}
					{% endfor %}
				{% endcapture %}

				{{ events_list }}

				<h2 class="m-y-2 special-header-green">Past Events</h2>

				{{ events_list }}

				<div class="spacer m-b-2"></div>

				<div class="special-pager">
					<a class="btn btn-quinary btn-slim" href="#"><i class="fa fa-angle-left"></i>&nbsp; Previous</a>
					<a class="btn btn-quinary btn-slim pull-right" href="#">More &nbsp;<i class="fa fa-angle-right"></i></a>
				</div>

			</div>
		</div>
		<div class="col-lg-4 pull-lg-8">
			<aside class="sidebar">
				{% include snippets/side_nav.html %}
			</aside>
		</div>
	</div>
</div>

<div class="spacer m-b-3 hidden-sm-down"></div>
<div class="spacer m-b-2 hidden-md-up"></div>