---
layout: base__page_sidebar
---

{% assign news = site.data.lorem_ipsum %}
{% assign news_item = news[1] %}

<!-- SECTION -->
<section>

	<!-- HEADING -->
	<h1 class="h2 mb-4">
		{{ news_item.title }}
	</h1>

	<!-- SUPPORTING IMAGE -->
	<p><img class="img-right" src="https://placehold.it/496x312" alt="..."></p>

	<!-- WHEN: -->
	<div class="mb-3">
		<h3 class="mb-1">When:</h3>
		<p class="h4 text-muted">
			Thursday 13 November 2016, 1.30 - 4.30pm
		</p>
	</div>

	<!-- LOCATION: -->
	<div class="mb-3">
		<h3 class="mb-1">Location:</h3>
		<p class="h4 text-muted mb-0">
			Tatiara District Council Offices<br>
			43 Woolshed Street Bordertown SA</p>
		<p>
		<a class="font-weight-bold" href="/locations/">View Map <i class="fa fa-angle-right"></i></a>
		</p>
	</div>

	<!-- CONTACT: -->
	<div class="mb-3">
		<h3 class="mb-1">Contact:</h3>
		<p class="h4 text-muted mb-0">
			Phone Park on 0409 642 or email<br>
			greenarmy@workskilyouth.com.au
		</p>
	</div>

	<!-- SPACER -->
	<div class="spacer mb-4"></div>

	{{ content }}

</section>