---
layout: base__page_sidebar
---

{% assign news = site.data.lorem_ipsum %}

<!-- SECTION -->
<section>

	<!-- HEADING (SPECIAL) -->
	<h2 class="mb-5 special-header-green">
		Past Events
	</h2>

	<!-- BOARD MEMBERS -->
	<div class="mb-5">
		{% for item in news limit: 2 %}

			<div class="row">
				<div class="col-md-3">

					<!-- IMAGE -->
					<a class="btn-tile mb-3" href="/about-us/events-calendar/events-calendar-item/">
					    <img width="100%" src="/assets/img/layout/thumb-sizer--480x288.svg" alt="...">
					    <span class="btn-tile-bg" style="background-image: url(https://placehold.it/480x288)"></span>
					</a>

				</div>
				<div class="col-md-9">

					<!-- HEADING -->
					<h3 class="h4">
						<a class="text-quinary" href="/about-us/events-calendar/events-calendar-item/">
							{{ item.title }}
						</a>
					</h3>

					<!-- DATE -->
					<time class="d-block text-muted font-weight-bold mb-2" datetime="{{ item.date | date_to_xmlschema }}">
					    {{ item.date | date: "%d %B %Y" }}
					</time>

					<!-- BODY -->
					<p class="mb-0">
						{{ item.body | truncate: 450 }}

						<!-- READ MORE LINK -->
						<a class="font-weight-bold" href="/about-us/events-calendar/events-calendar-item/">Read More <i class="fa fa-angle-right"></i></a>
					</p>

				</div>
			</div>

			{% unless forloop.last %}
				<hr class="py-1">
			{% endunless %}

		{% endfor %}
	</div>

	{% include snippets/pagination.html %}

</section>