---
layout: base__page
---

{% assign settings = site.data.settings %}

<!-- SECTION -->
<section
	id="vue-jobs-listing-app"
	data-job-form-path="https://workskil.com.au/for-individuals/current-customers/job-vacancies-for-workskil-australia-customers/job-vacancy-expression-of-interest/"
	data-csv-path="/csv/nvb-201001.csv"
	class="section"
>
	<div class="container">

		<!-- LEAD -->
		<p class="lead">
			{{ page.lead }}
		</p>

		<!-- SPACER -->
		<div class="spacer mb-4 mb-md-5"></div>

		<!-- FILTERS -->
		<div class="mb-4 mb-md-5">
	        <div class="row">
	            <div class="col-sm-6 col-md-6 col-xl-2">

	            	<!-- LOCATION FILTER -->
	                <label for="location">Location</label>

	                <select-filter
	                	id="location"
	                	class="mb-0"
						:filters="locations"
						v-model="filterLocation"
	                />
	            </div>

	            <div class="col-sm-6 col-md-6 col-xl-2">

					<!-- LOCATIONS SEARCH -->
				    <label for="keyword-search">Search Locations</label>

	                <keyword-search
	                	id="location-search"
	                	placeholder="Locations"
	                	v-model="filterLocations"
	                />

	            </div>
	            <div class="col-sm-12 col-md-6 col-xl-2">

	            	<!-- VACANCY TYPE FILTER -->
	                <label for="vacancy-type">Vacancy Types</label>

	                <select-filter
						id="vacancy-type"
						class="mb-0"
						:filters="vacancyTypes"
						v-model="filterVacancyType"
	                />

	            </div>
	            <div class="col-sm-12 col-md-6 col-xl-2">

					<!-- KEYWORD SEARCH -->
				    <label for="keyword-search">Search Job Titles</label>

	                <keyword-search
	                	id="keyword-search"
	                	placeholder="Keywords"
	                	v-model="filterKeywords"
	                />

	            </div>
	        </div>
		</div>

		<!-- JOBS TABLE -->
		<jobs-table
			v-if="jobsData"
			:data="jobsDataFiltered"
			:job-form-path="jobFormPath"
		/>

	</div>
</section>

<style>
	#vue-jobs-listing-app .table thead tr th:first-child {
		/*background: #dee2e6;*/
	}

	#vue-jobs-listing-app .table tbody tr td:first-child {
		font-weight: bold;
		background: #f3f3f5;
	}
</style>

{% comment %}
	DEV NOTE: ADDITONAL STYLES LOCATED IN SPECIAL.CSS
{% endcomment %}