---
layout: base__page
---

{% assign settings = site.data.settings %}
{% assign locations = site.data.locations %}

<!-- SECTION -->
<section class="section">
	<div class="container">

		<!-- HEADING -->
		<h2 class="h3 mb-4">
			Find your closest Workskil Australia location
		</h2>

		<!-- IF FAILURE (HIDDEN) -->
		<div class="row">
			<div class="col-md-6">
				<div class="alert alert-danger alert-dismissible fade show mb-4" role="alert" hidden>
				    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				        <span aria-hidden="true">&times;</span>
				    </button>
				    <strong>Oops!</strong><br> Something went wrong. Please try again.
				</div>
			</div>
		</div>

		<!-- FORM -->
		<form id="form-locations" class="form-locations" action="#" method="get" novalidate>
		    <div class="row">
		        <div class="col-md-6">
		            <div class="input-group">

		                <!-- <label for="form-locations">Enter your suburb</label> -->
		                <input id="locations-search" class="form-control" name="q" type="text" placeholder="Enter your suburb" autocomplete="off">

		            </div>
		        </div>
		    </div>
		</form>

		<!-- GOOGLE MAP HERE -->
		<img width="100%" src="https://placehold.it/1400x530/a3ccff/ffffff&text=GOOGLE MAP" alt="Map Placeholder">

		<!-- SPACER -->
		<div class="spacer mb-5"></div>

		<!-- HEADING -->
		<h2 class="h3 mb-4">
			Or browse our locations by state
		</h2>

		<!-- ACCORDION TRIGGER -->
		<div class="accordion-trigger" data-accordion-trigger>
			<ul class="block-grid-xs-1 block-grid-md-2 block-grid-xl-4 block-grid-condensed">

				{% for item in locations %}
					<li>
						<a class="btn-tile btn-tile-dropdown" href="#{{ item[1].id }}">
							<span class="h4 text">{{ item[0] }}</span>
							<i class="fa fa-angle-up fa-angle-down"></i>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>

		<!-- ACCORDION FILTER -->
		<div class="accordion-filter pt-4 pb-3" hidden>
			<div class="d-md-flex">
				<div class="filter-by-services">
					<h4>Filter by service</h4>
				</div>
				<div>
					<button data-filter-id="allied health">Allied health</button>
					<button data-filter-id="career transition assistance">Career Transition Assistance</button>
					<button data-filter-id="corporate services">Corporate Services</button>
					<button data-filter-id="disability employment services">Disability Employment Services</button>
					<button data-filter-id="flexible learning options">Flexible Learning Options</button>
					<button data-filter-id="jobactive">jobactive</button>
					<button data-filter-id="national work experience programme">National Work Experience Programme</button>
					<button data-filter-id="return to work">Return to Work</button>
					<button data-filter-id="work assist">Work Assist</button>
					<button data-filter-id="work for the dole">Work for the Dole</button>
					<button data-filter-id="workskil indigenous">Workskil Indigenous</button>
					<button data-filter-id="youth jobs path internships">Youth Jobs PaTH Internships</button>
				</div>
			</div>
		</div>

		{% for item in locations %}

			<!-- ACCORDION CONTENT - {{ item.[0] }} -->
			<div id="{{ item[1].id }}" class="accordion" data-accordion>
				<ul class="block-grid-xs-1 block-grid-md-2 block-grid-xl-3">
					{% for item in item[1].children %}

						{%- capture filter -%}
							{% for service in item.services %}
								{{- service.name | downcase -}},
							{% endfor %}
						{%- endcapture -%}

						<li data-filter="{{ filter }}">
							<div class="card-location" data-equal-height>

								<!-- LOCATION NAME -->
								<h3>{{ item.name }}</h3>

								<div class="row">
									<div class="col-md-6">

										<!-- ADDRESS -->
										<p>{{ item.address }} <br>
										<a href="#">View on map <i class="fa fa-angle-right"></i></a></p>
									</div>
									<div class="col-md-6">

										<!-- PHONE / FAX -->
										<p>Phone: <a href="tel:{{ item.phone }}">{{ item.phone }}</a><br>
										Fax: {{ item.fax }}</a></p>

										<!-- OPENING HOURS -->
										<h4 class="h6">Opening Hours</h4>
										{{ item.opening_hours }}
									</div>
								</div>

								<!-- SERVICES -->
								<h4 class="h6">Services</h4>

								<ul class="block-grid-xs-1 block-grid-md-2 list-condensed">
									{% for service in item.services %}
										<li>
											<a href="{{ service.path }}">
												<i class="fa fa-check-circle"></i>&nbsp; <b>{{ service.name }}</b>
											</a>
										</li>
									{% endfor %}
								</ul>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endfor %}

	</div>
</section>