---
layout: base__page
---

{% assign settings = site.data.settings %}

<div class="spacer m-b-3 hidden-sm-down"></div>
<div class="spacer m-b-2 hidden-md-up"></div>

<div class="container">
	<h2 class="h3 m-b-1">Find our locations by suburb or postcode</h2>

	<!-- IF FAILURE -->
	<div class="alert alert-danger alert-dismissible fade in" role="alert" hidden>
	    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	        <span aria-hidden="true">&times;</span>
	    </button>
	    <h4>Oops!</h4>
	    <p>Something went wrong. Please try again.</p>
	</div>

	<form id="form-locations" class="form-locations" action="/search/" method="get" novalidate>
		<div class="row">
			<div class="col-md-6">
		        <div class="input-group">
					<!-- <label for="form-locations">Enter suburb or postcode</label> -->
					<input id="locations-search" class="form-control" name="q" type="text" placeholder="Enter suburb or postcode">
					<span class="input-group-btn" style="padding-left: 8px;">
					    <button type="submit" class="btn"><i class="fa fa-angle-right"></i></button>
					</span>
				</div>
			</div>
		</div>
	</form>

	<!-- GOOGLE MAP HERE -->
	<img width="100%" src="http://placehold.it/1400x530/a3ccff/ffffff&text=GOOGLE MAP" alt="Map Placeholder">

	<div class="spacer m-b-3"></div>

	<h2 class="h3 m-b-1">Or browse our locations by state</h2>

	<!-- ACCORDION TRIGGER -->
	<div class="accordion-trigger" data-accordion-trigger>
		<ul class="block-grid-xs-1 block-grid-md-3 block-grid-condensed">
			<li>
				<a class="btn-tile btn-tile-dropdown" href="#sa">
					<span class="h4 text">South Australia</span>
					<i class="fa fa-angle-up fa-angle-down"></i>
				</a>
			</li>
			<li>
				<a class="btn-tile btn-tile-dropdown" href="#vic">
					<span class="h4 text">Victoria</span>
					<i class="fa fa-angle-up fa-angle-down"></i>
				</a>
			</li>
			<li>
				<a class="btn-tile btn-tile-dropdown" href="#nsw">
					<span class="h4 text">New South Wales</span>
					<i class="fa fa-angle-up fa-angle-down"></i>
				</a>
			</li>
		</ul>
	</div>

	<br>

	<!-- ACCORDION CONTENT 1 -->
	<div id="sa" class="accordion" data-accordion>
		<ul class="block-grid-xs-1 block-grid-md-2 block-grid-xl-3">
			{% for i in (1..9) %}
				<li>
					<div class="card-location" data-equal-height>
						<h3>South Australia</h3>
						<div class="row">
							<div class="col-md-6">
								<p>{{ settings.offices[0].address }} <br>
								<a href="#">View on map <i class="fa fa-angle-right"></i></a></p>
							</div>
							<div class="col-md-6">
								<p>Phone: <a href="tel:{{ settings.offices[0].phone }}">{{ settings.offices[0].phone }}</a><br>
								Fax: {{ settings.offices[0].fax }}</a></p>
							</div>
						</div>
						<h4 class="h6">Services</h4>
						<ul class="block-grid-xs-1 block-grid-md-2 list-condensed">
							<li><i class="fa fa-check-circle"></i>&nbsp; Workskil Employment</li>
							<li><i class="fa fa-check-circle"></i>&nbsp; Workskil Youth</li>
							<li><i class="fa fa-check-circle"></i>&nbsp; Workskil Health</li>
							<li><i class="fa fa-check-circle"></i>&nbsp; Workskil Indigenous</li>
						</ul>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>

	<!-- ACCORDION CONTENT 2 -->
	<div id="vic" class="accordion" data-accordion>
		<ul class="block-grid-xs-1 block-grid-md-2 block-grid-xl-3">
			{% for i in (1..9) %}
				<li>
					<div class="card-location" data-equal-height>
						<h3>Victoria</h3>
						<div class="row">
							<div class="col-md-6">
								<p>{{ settings.offices[0].address }} <br>
								<a href="#">View on map <i class="fa fa-angle-right"></i></a></p>
							</div>
							<div class="col-md-6">
								<p>Phone: <a href="tel:{{ settings.offices[0].phone }}">{{ settings.offices[0].phone }}</a><br>
								Fax: {{ settings.offices[0].fax }}</a></p>
							</div>
						</div>
						<h4 class="h6">Services</h4>
						<ul class="block-grid-xs-1 block-grid-md-2 list-condensed">
							<li><i class="fa fa-check-circle"></i>&nbsp; Workskil Employment</li>
							<li><i class="fa fa-check-circle"></i>&nbsp; Workskil Youth</li>
							<li><i class="fa fa-check-circle"></i>&nbsp; Workskil Health</li>
							<li><i class="fa fa-check-circle"></i>&nbsp; Workskil Indigenous</li>
						</ul>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>

	<!-- ACCORDION CONTENT 3 -->
	<div id="nsw" class="accordion" data-accordion>
		<ul class="block-grid-xs-1 block-grid-md-2 block-grid-xl-3">
			{% for i in (1..9) %}
				<li>
					<div class="card-location" data-equal-height>
						<h3>New South Wales</h3>
						<div class="row">
							<div class="col-md-6">
								<p>{{ settings.offices[0].address }} <br>
								<a href="#">View on map <i class="fa fa-angle-right"></i></a></p>
							</div>
							<div class="col-md-6">
								<p>Phone: <a href="tel:{{ settings.offices[0].phone }}">{{ settings.offices[0].phone }}</a><br>
								Fax: {{ settings.offices[0].fax }}</a></p>
							</div>
						</div>
						<h4 class="h6">Services</h4>
						<ul class="block-grid-xs-1 block-grid-md-2 list-condensed">
							<li><i class="fa fa-check-circle"></i>&nbsp; Workskil Employment</li>
							<li><i class="fa fa-check-circle"></i>&nbsp; Workskil Youth</li>
							<li><i class="fa fa-check-circle"></i>&nbsp; Workskil Health</li>
							<li><i class="fa fa-check-circle"></i>&nbsp; Workskil Indigenous</li>
						</ul>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>

	<div class="spacer m-b-3 hidden-sm-down"></div>
	<div class="spacer m-b-2 hidden-md-up"></div>
</div>