---
layout: base__page_sidebar
---

{% assign news = site.data.lorem_ipsum %}
{% assign news_item = news[2] %}

<!-- SECTION -->
<section>

	<!-- HEADING -->
	<h1 class="h2">
		{{ news_item.title }}
	</h1>

	<!-- DATE -->
	<time class="d-block text-muted font-weight-bold mb-4" datetime="{{ news_item.date | date_to_xmlschema }}">
	    {{ news_item.date | date: "%d %B %Y" }}
	</time>

	<!-- SUPPORTING IMAGE -->
	<p><img class="img-right" src="{{ news_item.image }}" alt="..."></p>

	<!-- WYSIWYG -->
	<div class="wysiwyg mb-4">
		{{ news_item.body | markdownify }}
	</div>

</section>

{% contentfor sidebar_additional %}

	<!-- OTHER NEWS -->
	<h3 class="text-quinary">
		Other News
	</h3>

	<!-- ARTICLES -->
	<ul class="list-block is-condensed">
		{% for item in news limit: 3 %}
			<li>
				<a href="{{ item.url }}">
					<h4 class="text-primary pr-md-4 mb-0">
						{{ item.title }}
						<i class="fa fa-angle-right"></i>
					</h4>
				</a>
			</li>
		{% endfor %}
	</ul>

{% endcontentfor %}