---
layout: base__page_sidebar
---

{% assign news = site.data.lorem_ipsum %}

<!-- SECTION -->
<section>

	    <div class="row">
	        {% for item in news limit: 6 %}
	            <div class="col-md-6 col-xl-4">

	                <!-- CARD -->
	                <div class="card h-100 is-flat">

	                    <!-- IMAGE -->
	                    <a class="btn-tile" href="{{ item.url }}">
	                        <img width="100%" src="/assets/img/layout/thumb-sizer--480x288.svg" alt="{{ item.title }}">
	                        <span class="btn-tile-bg" style="background-image: url({{ item.image }})"></span>
	                    </a>

	                    <!-- CARD BODY -->
	                    <div class="card-body d-flex flex-column">

	                        <!-- TITLE -->
                            <h3 class="card-title">
                            	<a class="text-quinary" href="{{ item.url }}">
                            		{{ item.title }}
                        		</a>
                        	</h3>

	                        <!-- DATE -->
	                        <time class="d-block text-muted font-weight-bold mb-2" datetime="{{ item.date | date_to_xmlschema }}">
	                            {{ item.date | date: "%d %B %Y" }}
	                        </time>

	                        <!-- TEXT -->
	                        <div class="card-text mb-2">
	                            {{ item.body | truncate: 150 }}
	                        </div>

	                        <!-- BUTTON -->
	                        <p>
	                            <a href="{{ item.url }}" class="font-weight-bold text-link">
	                                Read More <i class="fa fa-angle-right"></i>
	                            </a>
	                        </p>

	                    </div>
	                </div>

	            </div>
	        {% endfor %}
	    </div>

    	{% include snippets/pagination.html %}

</section>