---
layout: base__page--short-header
---

{% assign settings = site.data.settings %}

{% assign news = site.data.placeholder_articles %}
{% assign news_item = news[1] %}

<div class="spacer m-b-3 hidden-sm-down"></div>
<div class="spacer m-b-2 hidden-md-up"></div>

<div class="container">
	<div class="row">
		<div class="col-lg-8 push-lg-4">
			<div class="special-content">
				<article class="media-article">
					<h1 class="h2">{{ news_item.title }}</h1>
					<date>{{ news_item.date }}</date>
					<p><img class="img-right" src="http://placehold.it/496x312" alt="..."></p>
					{{ content | markdownify }}

					<div class="m-t-1 m-b-2">
						<!-- PLACE SOCIAL ICONS HERE -->
					</div>

				</article>
			</div>
		</div>
		<div class="col-lg-4 pull-lg-8">
			<aside class="sidebar">
				{% include snippets/side_nav.html %}

				<div class="spacer m-b-1"></div>

				<div class="special-list-block">
					<h3>Other News</h3>
					<ul class="list-block is-condensed">
						{% for item in news | limit: 3 %}
							<li>
								<a href="/about/news/news-item/">
									<h4 class="m-b-0">{{ item.title }} <i class="fa fa-angle-right"></i></h4>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>

			</aside>
		</div>
	</div>
</div>

<div class="spacer m-b-3 hidden-sm-down"></div>
<div class="spacer m-b-2 hidden-md-up"></div>