---
layout: base__page--short-header
---

{% assign settings = site.data.settings %}
{% assign news = site.data.placeholder_articles %}

<div class="spacer m-b-3 hidden-sm-down"></div>
<div class="spacer m-b-2 hidden-md-up"></div>

<div class="container">
	<div class="row">
		<div class="col-lg-8 push-lg-4">
			<div class="special-content special-content-extended">
				<ul class="block-grid-lg-3">
					{% for item in news %}
						<li>
							<a href="/about/news/news-item/">
								<article class="media">
									<img class="m-b-1 hidden-md-down" width="100%" src="/assets/img/ui/placeholder.png" alt="...">
									<h3 class="h4">{{ item.title }}</h3>
									<date>{{ item.date }}</date>
									<p class="m-b-0">{{ item.body | truncate: 200 }}</p>
									<span class="anchor">Read More <i class="fa fa-angle-right"></i></span>
								</article>
							</a>
						</li>
					{% endfor %}
				</ul>

				<div class="spacer m-b-2"></div>

				<div class="special-pager m-b-1">
					<a class="btn btn-quinary btn-slim" href="#"><i class="fa fa-angle-left"></i>&nbsp; Previous</a>
					<a class="btn btn-quinary btn-slim pull-right" href="#">More &nbsp;<i class="fa fa-angle-right"></i></a>
				</div>

			</div>
		</div>
		<div class="col-lg-4 pull-lg-8">
			<aside class="sidebar">
				{% include snippets/side_nav.html %}
			</aside>
		</div>
	</div>
</div>

<div class="spacer m-b-3 hidden-sm-down"></div>
<div class="spacer m-b-2 hidden-md-up"></div>