---
layout: base__page_sidebar
---

{% assign board_members = site.data.lorem_ipsum %}

<!-- SECTION -->
<section>

	{% for i in (1..3) %}

		<!-- HEADING (SPECIAL) -->
		<h2 class="mb-5 special-header-green">
			Deputy Chairman
		</h2>

		<!-- BOARD MEMBERS -->
		<div class="mb-4">
			{% for item in board_members limit: 2 %}

				<div class="row">
					<div class="col-md-3">

						<!-- IMAGE -->
						<p><img width="100%" src="/assets/img/ui/no-face.png" alt="..."></p>

					</div>
					<div class="col-md-9">

						<!-- HEADING -->
						<h3>Mr David Smith</h3>

						<!-- BODY -->
						<p class="mb-0">
							{{ item.body | truncate: 450 }}
						</p>

					</div>
				</div>

				{% unless forloop.last %}
					<hr class="py-1">
				{% endunless %}

			{% endfor %}
		</div>
	{% endfor %}

</section>