---
layout: base__page
---

{% assign settings = site.data.settings %}
{% assign video_embed_above_fold = page.video_embed_above_fold %}
{% assign is_page_heading_excluded = page.is_page_heading_excluded %}
{% assign sub_levels = page.subpage_path %}
{% assign level_1 = sub_levels[0] %}
{% assign level_2 = sub_levels[1] %}

{% assign current_level = sub_levels | size %}
	{% if current_level >= 2 %}
		{% assign subpages = site.data.sitemap[level_1].children[level_2].children %}
	{% else %}
		{% assign subpages = site.data.sitemap[level_1].children %}
{% endif %}

<!-- SECTION -->
<section class="mb-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 collapse-px-sm-down">

				<!-- SIDEBAR -->
				<aside class="sidebar">

					<!-- SIDEBAR COLOR BOX -->
					<div class="sidebar-color-box">
						{{ content | markdownify }}
					</div>

					<!-- SIDEBAR INFO BOX -->
					<div class="sidebar-info-box sidebar-color-box is-faded">
						<div class="media">
							<span class="media-left mr-3 media-top">

								<!-- INFO ICON -->
								<i class="fa fa-info"></i>

							</span>
							<div class="media-body">

								<!-- HEADING -->
								<h4>For more information</h4>

								<!-- EMAIL -->
								<a class="d-inline-block mr-2" href="mailto:{{ settings.offices[0].email }}"><i class="fa fa-envelope mr-2"></i>{{ settings.offices[0].email }}</a>

								<!-- PHONE -->
								<a class="d-inline-block" href="tel:{{ settings.offices[0].phone }}"><i class="fa fa-phone mr-2"></i>{{ settings.offices[0].phone }}</a>

							</div>
						</div>
					</div>

					{% if page.supporting_image %}
						<!-- SUPPORTING IMAGE -->
						<p><img width="100%" src="{{ page.supporting_image }}" alt="..."></p>
					{% endif %}

				</aside>
			</div>
			<div class="col-lg-6 pt-4 pt-md-5">

				{% unless is_page_heading_excluded %}

					<!-- HEADING -->
					<h2 class="mb-4">
						{% if page.subheading %}
							{{ page.subheading }}
						{% else %}
							Services provided by Workskil {{ page.title }} include:
						{% endif %}
					</h2>

				{% endunless %}

				{% if video_embed_above_fold %}

					<!-- VIDEO EMBED -->
					<div class="embed-responsive embed-responsive-16by9">
						<iframe
							class="embed-responsive-item"
							src="{{ video_embed_above_fold }}"
							title="YouTube video player"
							allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen
						>
						</iframe>
					</div>

				{% endif %}

				{% if sub_levels %}

					<!-- SERVICE TILES -->
					<ul class="block-grid-xs-1 block-grid-md-2 block-grid-lg-2">
						{% for item in subpages %}
						<li>
							<a class="btn-tile" href="{{ item[1].url }}" data-equal-height>
								<h3>{{ item[0] }}</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
								<i class="fa fa-angle-right"></i>
							</a>
						</li>
						{% endfor %}
					</ul>

				{% else %}

					{% ifhascontent additional %}

						<!-- WYSIWYG -->
						<div class="wysiwyg">
					  		{% contentblock additional no-convert %}
					  	</div>

					{% endifhascontent %}
					{% ifnothascontent additional %}

						{{ content }}

					{% endifnothascontent %}
				{% endif %}

			</div>
		</div>
	</div>
</section>

{% ifhascontent below_fold %}
	{% contentblock below_fold no-convert %}
{% endifhascontent %}