/*
    SPECIAL.CSS

    - Last updated: 27.03.19
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// GOOGLE LANGUAGE SELECT
//-----------------------------------------------------------------

.lv-page {
	.goog-te-gadget-simple {
	    background: transparent;
	    border: 0;
	}

	.goog-te-gadget-icon {
	    display: none;
	}

	.goog-te-menu-value > span {
		font-weight: $font-weight-bold;
	    color: white;
	}
}

//-----------------------------------------------------------------
// SPECIAL HEADER GREEN
//-----------------------------------------------------------------

.special-header-green {
	padding: rem-calc(20 25);
	background: $secondary;
	color: white;
}

//-----------------------------------------------------------------
// FILL IN GAP DUE TO ODD NUMBERS (homepage tiles)
//-----------------------------------------------------------------

.special-btn-tiles-bg {
	background: #eee;
}

//-----------------------------------------------------------------
// PAGER (pagination)
//-----------------------------------------------------------------

.special-pager {
	background: #1c618d;

	i {
		margin: 0;
	}
}

//-----------------------------------------------------------------
// VUE JOBS TABLE /jobs/
//-----------------------------------------------------------------

#vue-jobs-listing-app {

	input[type=text] {
		&::-webkit-input-placeholder { /* Edge */
		  color: rgba(#4a5057, 0.6) !important;
		}

		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		  color: rgba(#4a5057, 0.6) !important;
		}

		&::placeholder {
		  color: rgba(#4a5057, 0.6) !important;
		}
	}

	.jobs-table-submit {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: rem-calc(10 0);
		background: rgba(#e3e4e6, 0.8);
		z-index: 1;
		animation-duration: 400ms;

		// &.has-error {
		// 	background: rgba($danger, 0.8);
		// }

		.warning-msg {
			padding: rem-calc(5 10);
			border-radius: 3px;
			background: $danger;
			font-weight: 500;
			color: white;
		}

		.btn {
			transition: margin ease 200ms;
		}
	}

// 	@include media-breakpoint-up(md) {
// 	    .table-responsive {
// 	    	position: relative;
// 	    	overflow-y: auto;
// 	    	height: 60vh;
// 	    }

// 	    th {
// 	    	position: sticky;
// 	    	top: 0;
// 	    	background-color: white;
// 	    	box-shadow: 0 0 1px 1px #dee2e6;
// 	    }
// 	}
// }

// IE11
// @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
// 	#vue-jobs-listing-app .table-responsive {
// 		height: auto !important;
// 	}
}

// Move submit button over to make room for 'Back top'
.headroom--unpinned #vue-jobs-listing-app .jobs-table-submit .btn {
	@include media-breakpoint-up(md) {
	    margin-right: rem-calc(40);
	}

	@media(min-width: 1560px) {
		margin-right: 0;
	}
}

//=========================================
//
//=========================================

.is-sticky:before,
.is-sticky:after {
    content: '';
    display: table;
}