/*
    SPECIAL.CSS

    - Last updated: 27.03.19
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// GOOGLE LANGUAGE SELECT
//-----------------------------------------------------------------

.lv-page {
	.goog-te-gadget-simple {
	    background: transparent;
	    border: 0;
	}

	.goog-te-gadget-icon {
	    display: none;
	}

	.goog-te-menu-value > span {
		font-weight: $font-weight-bold;
	    color: white;
	}
}

//-----------------------------------------------------------------
// SPECIAL HEADER GREEN
//-----------------------------------------------------------------

.special-header-green {
	padding: rem-calc(20 25);
	background: $secondary;
	color: white;
}

//-----------------------------------------------------------------
// FILL IN GAP DUE TO ODD NUMBERS (homepage tiles)
//-----------------------------------------------------------------

.special-btn-tiles-bg {
	background: #eee;
}

//-----------------------------------------------------------------
// PAGER (pagination)
//-----------------------------------------------------------------

.special-pager {
	background: #1c618d;

	i {
		margin: 0;
	}
}

//=========================================
//
//=========================================