/*
    TEXT-EDITOR.CSS

    - Last updated: 06.10.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

$spacer: rem-calc(20) !default;

//-----------------------------------------------------------------
// WYSIWYG
//-----------------------------------------------------------------

.wysiwyg {
	h2 {
		font-size: $font-size-h3;
	}

	h3, h4, h5, h6 {
		font-size: $font-size-h4;
		color: #979596;
	}

	h2, h3, h4, p, ul, ol {
		margin-bottom: rem-calc(32);
	}

	ul li,
	ol li {
		margin-bottom: rem-calc(8);
	}

	iframe {
		max-width: 100%;
	}
}

//-----------------------------------------------------------------
// IMAGE ALIGNMENT
//-----------------------------------------------------------------

.img-left {
	margin-bottom: $spacer;

	@include media-breakpoint-down(sm) {
	    width: 100%;
	}

	@include media-breakpoint-up(xl) {
	    float: left;
	    margin: $spacer $spacer 0 0;
	}
}

.img-right {
	margin-bottom: $spacer;

	@include media-breakpoint-down(sm) {
	    width: 100%;
	}

	@include media-breakpoint-up(xl) {
	    float: right;
	    margin: 0 0 $spacer $spacer;
	}
}

//-----------------------------------------------------------------
// STYLED LISTS
//-----------------------------------------------------------------

.styled-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;

	li {
		padding-left: rem-calc(8);
		margin-bottom: rem-calc(5);

		a:before {
			// content: "\f0da";
			content: "\f04b";
			font-family: "FontAwesome";
			position: relative;
			top: 1px;
			left: -5px;
			color: $primary-color;
		}
	}

	&[class*='block-grid'] li {
		padding-bottom: 0; // Let list items set their own inner padding
	}
}

//-----------------------------------------------------------------
// FONT FAMILY
//-----------------------------------------------------------------

.font-family-serif {
	font-family: $font-family-serif;
}

.font-family-sans-serif {
	font-family: $font-family-sans-serif;
}

//=========================================
//
//=========================================