/*
    THEMES.CSS

    - Last updated: 27.03.19
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// THEME HOME
//-----------------------------------------------------------------

.theme-home-minimal {

	.lv-hero-item.is-tinted:before,
	.lv-hero-item-slider {
		display: none;
	}

	.lv-hero-item > .container {
		@include media-breakpoint-up(md) {
		    padding-left: 0;
		}
	}
}

//-----------------------------------------------------------------
// THEME RED
//-----------------------------------------------------------------

.theme-red {
	.page-header { background: $quaternary; }

	.sidebar-color-box {
	    background: lighten($quaternary, 5%);
	    .fa-info { color: $quaternary; }
	    &.is-faded { background: $quaternary; }
	}

	.global-footer-sitemap {
		h1, h2, h3, h4, h5, h6 {
			color: $quaternary;
		}
	}
}

//-----------------------------------------------------------------
// THEME GREEN
//-----------------------------------------------------------------

.theme-green {
	.page-header { background: $secondary; }

	.sidebar-color-box {
	    background: lighten($secondary, 5%);
	    .fa-info { color: $secondary; }
	    &.is-faded { background: $secondary; }
	}

	.global-footer-sitemap {
		h1, h2, h3, h4, h5, h6 {
			color: $secondary;
		}
	}
}

//-----------------------------------------------------------------
// THEME ORANGE
//-----------------------------------------------------------------

.theme-orange {
	.page-header { background: $tertiary; }

	.sidebar-color-box {
	    background: lighten($tertiary, 5%);
	    .fa-info { color: $tertiary; }
	    &.is-faded { background: $tertiary; }
	}

	.global-footer-sitemap {
		h1, h2, h3, h4, h5, h6 {
			color: $tertiary;
		}
	}
}

//-----------------------------------------------------------------
// THEME ABOUT
//-----------------------------------------------------------------

.theme-about {
	.sidebar-color-box.is-faded {
	    background: lighten($secondary, 5%);
	    .fa-info { color: $secondary; }
	}
}

//-----------------------------------------------------------------
// THEME CONTACT
//-----------------------------------------------------------------

.theme-contact {

	.sidebar-color-box.is-faded {
	    background: lighten($secondary, 5%);
	    .fa-info { color: $secondary; }
	}

	.sidebar-color-box {
		color: white;

		p {
			font-size: rem-calc(16);
		}

		a {
			color: white;
		}
	}
}

//=========================================
//
//=========================================