/*
    THEMES.CSS

    - Last updated: 16.11.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// THEME HOME
//-----------------------------------------------------------------

.theme-home {
	 .logo img {
		@include media-breakpoint-down(sm) {
		    width: 200px;
		}
	 }

	.headroom--not-top {
	    .logo img {
	   		@include media-breakpoint-down(sm) {
	   		    width: 150px;
	   		}
	    }
	}

	.lv-hero-item-carousel-wrapper {
		@include media-breakpoint-down(md) {
		    // visibility: hidden;
		    display: none;
		}
	}

	.lv-hero-item {
		@include media-breakpoint-down(md) {
		    background-position: bottom right;
		}
	}

	.lv-hero-item-caption {
		@include media-breakpoint-down(sm) {
		    padding-top: calc(#{rem-calc(110)} + #{$header-height-sm} + #{rem-calc(32)});
		}
	}
}

//-----------------------------------------------------------------
// THEME RED
//-----------------------------------------------------------------

.theme-red {
	.page-header { background: $brand-quaternary; }

	.sidebar-color-box {
	    background: lighten($brand-quaternary, 5%);
	    .fa-info { color: $brand-quaternary; }
	    &.is-muted { background: $brand-quaternary; }
	}

	.global-footer-sitemap {
		h1, h2, h3, h4, h5, h6 {
			color: $brand-quaternary;
		}
	}
}

//-----------------------------------------------------------------
// THEME GREEN
//-----------------------------------------------------------------

.theme-green {
	.page-header { background: $brand-secondary; }

	.sidebar-color-box {
	    background: lighten($brand-secondary, 5%);
	    .fa-info { color: $brand-secondary; }
	    &.is-muted { background: $brand-secondary; }
	}

	.global-footer-sitemap {
		h1, h2, h3, h4, h5, h6 {
			color: $brand-secondary;
		}
	}
}

//-----------------------------------------------------------------
// THEME ORANGE
//-----------------------------------------------------------------

.theme-orange {
	.page-header { background: $brand-tertiary; }

	.sidebar-color-box {
	    background: lighten($brand-tertiary, 5%);
	    .fa-info { color: $brand-tertiary; }
	    &.is-muted { background: $brand-tertiary; }
	}

	.global-footer-sitemap {
		h1, h2, h3, h4, h5, h6 {
			color: $brand-tertiary;
		}
	}
}

//-----------------------------------------------------------------
// THEME ABOUT
//-----------------------------------------------------------------

.theme-about {
	.sidebar-color-box.is-muted {
	    background: lighten($brand-secondary, 5%);
	    .fa-info { color: $brand-secondary; }
	}
}

//-----------------------------------------------------------------
// THEME CONTACT
//-----------------------------------------------------------------

.theme-contact {
	.sidebar-color-box.is-muted {
	    background: lighten($brand-secondary, 5%);
	    .fa-info { color: $brand-secondary; }
	}

	.sidebar-color-box {
		color: white;

		p {
			font-size: rem-calc(16);
			// font-weight: 600;
		}

		a {
			color: white;
		}

		.brand-quinary {
			color: $brand-quinary;

			&:hover {
				color: darken($brand-quinary, 10%);
			}
		}
	}
}

//=========================================
//
//=========================================